# Document Change Log
# 0.2.2
#     - No Changes
# 0.2.1
#     - Added Merchant id as header field
# 0.2.0
#     - Added fields in ThreeDSecure object
#     - Added Price tier in POSItem
# 0.1.9
#     - No change.
# 0.1.8
#     - Added new API's for venue
# 0.1.7
#     - Added SiteLoyalty in the site checkin response.
# 0.1.6
#     - Changed litter to litre in VolumeEOM
#     - Added Accept-Language header field
# 0.1.5
#     - Added Link in the Error object.
#     - Added retailer partner in the site checkin request
#     - Added serviceArea, servicePartner query params for retrieving geo sites
# 0.1.4
#     - Added product details for Geolocation services. It has list of unique product code and prodcut price.
# 0.1.3
#     - Adding NVP with valueAsList
#     - update in DeviceInfo.
#     - added brandedWholesaler for a site
# 0.1.2
#     - Added VAT Number as part of site specification at top level.
# 0.1.1
#     - Added support for free form Json data for Geo-location services.
#     - Added 'id' attribute to Link
# 0.1.0
#     - Added client-token in the header field
# 0.0.9
#     - No change.
# 0.0.8
#     - No change.
# 0.0.7
#     - No change.
# 0.0.6
#     - Introduced new object PublicSiteInfo
#     - Modified geolocation API to return PublicSiteInfo instead of GeoLocation
# 0.0.5
#     - Updated the response structure for the get operation to include pagination details
#     - Changed name of attribute for Site in SiteRequest object
#     - Added api to search sites based on geolocation
#     - Set results for search results and get all petrol sites to use same structures
#     - Organized the parameters to be alphabetical
# 0.0.4
#     - Added get operation to retrieve all sites with pagination support
# 0.0.3
#     - Corrected name of attribute geoFencingSiteRecord
#     - Corrected attribute names in ItemCode object
# 0.0.2
#     - Added 'osVersion' attribute to 'DeviceInfo' object.
#     - updated method type PUT fron PATCH
# 0.0.1
#     - Initial Version
#-------------------------------------
swagger: '2.0'
info:
  version: 0.2.2
  title: uCom Site Services.
  description: Services for site management and configuration.
tags:
  - name: petro-sites
    description: Operations and details for petro site services.
  - name: geolocation
    description: Operations for sites based on geo location.
host: int.api.firstdata.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
basePath: /ucom
paths:
  /v1/petro-sites:
    post:
      tags:
        - petro-sites
      description: This API will onboard petroleum sites to uCom system.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/ClientRequestIdParam'
        - $ref: '#/parameters/TypeParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
        - name: payload
          in: body
          description: Site information.
          required: true
          schema:
            $ref: '#/definitions/SiteRequest'
      responses:
        201:
          $ref: '#/responses/Created'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/ServerError'

    get:
      tags:
        - petro-sites
      description: This API is to get the list of all active sites. Site summary details will be returned. All details for given site will be returned only when the IncludeAllParam is set to true.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/IncludeAllParam'
        - $ref: '#/parameters/PageNumberParam'
        - $ref: '#/parameters/PageSizeParam'
        - $ref: '#/parameters/TypeParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SitesSearchResult'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        500:
          $ref: '#/responses/ServerError'

  /v1/petro-sites/{siteLocationId}:
    get:
      tags:
        - petro-sites
      description: This API is to get the site information from uCom system.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/SiteLocationIdParam'
        - $ref: '#/parameters/TypeParam'
        - $ref: '#/parameters/RetailerPartnerIdParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
      responses:
        200:
          $ref: '#/responses/OK'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/ServerError'

    put:
      tags:
        - petro-sites
      description: This API will updates the sites configurations in uCom system with a full replacement of the existing record.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/SiteLocationIdParam'
        - $ref: '#/parameters/TypeParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
        - name: payload
          in: body
          description: site inoformation.
          required: true
          schema:
            $ref: '#/definitions/Site'
      responses:
        204:
          $ref: '#/responses/NoContent'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/ServerError'

    delete:
      tags:
        - petro-sites
      description: This API is to make the site disable from uCom system.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/SiteLocationIdParam'
        - $ref: '#/parameters/TypeParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
      responses:
        204:
          $ref: '#/responses/NoContent'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/ServerError'

  /v1/geolocation/sites:
    get:
      tags:
        - geolocation
      description: Query for a list of sites based on geolocation coordinates and a given radius.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/LatLongParam'
        - $ref: '#/parameters/RadiusParam'
        - $ref: '#/parameters/UnitOfMeasurementParam'
        - $ref: '#/parameters/PageNumberParam'
        - $ref: '#/parameters/PageSizeParam'
        - $ref: '#/parameters/ServiceAreaParam'
        - $ref: '#/parameters/ServicePartnerParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SitesSearchResult'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/ServerError'

  /v1/venues:
    get:
      tags:
        - venue
      description: Retrives venue information.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
        - $ref: '#/parameters/RegionParam'
        - $ref: '#/parameters/VenueCategoryParam'
        - $ref: '#/parameters/SearchKeywordsParam'
        - $ref: '#/parameters/PageNumberParam'
        - $ref: '#/parameters/PageSizeParam'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VenuesSearchResult'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/ServerError'

  /v1/venues/{venueId}/sections:
    get:
      tags:
        - venue
      description: Retrives venue information.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
        - $ref: '#/parameters/VenueIdParam'
        - $ref: '#/parameters/PageNumberParam'
        - $ref: '#/parameters/PageSizeParam'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VenuesSectionSearchResult'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/ServerError'

  /v1/venues/{venueId}/suites:
    get:
      tags:
        - venue
      description: Retrives venue information.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
        - $ref: '#/parameters/VenueIdParam'
        - $ref: '#/parameters/PageNumberParam'
        - $ref: '#/parameters/PageSizeParam'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VenuesSuiteSearchResult'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/ServerError'

  /v1/venues/{venueId}/tables:
    get:
      tags:
        - venue
      description: Retrives venue information.
      parameters:
        - $ref: '#/parameters/ApiKeyParam'
        - $ref: '#/parameters/TimestampParam'
        - $ref: '#/parameters/AuthorizationParam'
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: '#/parameters/AcceptLanguageParam'
        - $ref: '#/parameters/SubMerchantIdParam'
        - $ref: '#/parameters/VenueIdParam'
        - $ref: '#/parameters/PageNumberParam'
        - $ref: '#/parameters/PageSizeParam'

      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VenuesTableSearchResult'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        404:
          $ref: '#/responses/NotFound'
        500:
          $ref: '#/responses/ServerError'

definitions:
#-------------------------------------
# Operational Models
#-------------------------------------
  SiteRequest:
    title: Site Request
    type: object
    properties:
      site:
        $ref: '#/definitions/Site'
      deviceInfo:
        $ref: '#/definitions/DeviceInfo'

#-------------------------------------
# Resource Models
#-------------------------------------
  Additive:
    description: A type of fuel additive available for purchase at a pump.
    type: object
    properties:
      additiveid:
        type: string
      type:
        type: string
      description:
        type: string
      available:
        type: boolean
      price:
        type: number

  Address:
    description: A physical mailing address for this user.
    type: object
    properties:
      type:
        description: 'Canonical type values of "work", "home", and "other".'
        type: string
      streetAddress:
        description:  The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
        type: string
      locality:
        description: The city or locality component.
        type: string
      region:
        description: The state or region component.
        type: string
      postalCode:
        description: The zip code or postal code component.
        type: string
      country:
        description: The country name component.  When specified, the value MUST be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden are "US" and "SE", respectively.
        type: string
      formatted:
        description: The full mailing address, formatted for display or use with a mailing label.
        type: string
      primary:
        description: Indicates if this is the default address for the associated resource. It only has meaning when used in a set or array of addresses.
        type: boolean
    example:
      type: work
      streetAddress: 100 Universal City Plaza
      locality: Hollywood
      region: CA
      postalCode: '91608'
      country: US
      formatted: |-
        100 Universal City Plaza
        Hollywood, CA 91608 US
      primary: true

  ProductDetails:
    description: This contains list of product price and other product information.
    type: object
    properties:
      type:
        description: type of product like carwash or fuel.
        type: string
      code:
        description: This is prodcut code provided by POS.
        type: string
      unitOfMeasure:
        description: Unit of measure for a POS sale.
        type: string
      unitPrice:
        description: Product price information.
        type: string
      additionalProductInfo:
        description: Additional Product price information.
        type: string
    example:
         code: 2
         unitOfMeasure: litre
         unitPrice: 2.679
         additionalProductInfo: Super
         type: fuel


  Email:
    description: Email address for the user.
    type: object
    properties:
      type:
        description: The "type" sub-attribute is used to provide a classification meaningful to the (human) user.  The user interface should encourage the use of basic values of "work", "home", and "other" and MAY allow additional type values to be used at the discretion of the service client.
        type: string
      value:
        description: The value SHOULD be specified according to RFC5321.
        type: string
      primary:
        description: Defines if this entry is to be used as the primary or default for the user.
        type: boolean
        default: false
    example:
      value: bjensen@example.com
      type: work
      primary: true

  FuelGrade:
    description: Defines a grade of fuel purchasable at a pump.
    type: object
    properties:
      gradeId:
        type: string
        readOnly: true
      description:
        type: string
      available:
        type: string
      price:
        type: number
      productCode:
        type: string
      unitOfMeasurement:
        $ref: '#/definitions/QuantityUOM'
      priceTier:
        type: string
      posCodeFormat:
        type: string
        example: "plu"
      posCode:
        type: string
        example: "102"
      posCodeModifier:
        type: string
        example: "1"
      amount:
        type: number
        format: double
        example: 7.50

  Geolocation:
    description: Geospatial data for a given location
    type: object
    properties:
      siteId:
        description: The location id or number used to identify the unique site and merchant.
        type: string
        example: CA123456
      longitude:
        description: The GPS latitude value of the site. To be captured at time of onboarding. Not necessary for daily update at startup.
        type: number
      latitude:
        description: The GPS longitude value of the site. To be captured at time of onboarding. Not necessary for daily update at startup.
        type: number
      siteAddress:
        $ref: '#/definitions/SiteAddress'
      PBL:
        description: Identifier for the physical business location.  The value should be geologically distinct.
        type: string
      status:
        description: Identifies if site is active
        type: string
      siteName:
        description: Name of the site as defined as part of the onboarding process.
        type: string
      siteVendorId:
        description: Name of the partner who owns the site.
        type: string
      retailerPartnerId:
        description: Name of the configured retailer.
        type: string

  Image:
    description: Graphical representation of an object
    type: object
    properties:
      imageId:
        type: string
      imageType:
        type: string
      width:
        type: integer
      height:
        type: integer
      srcUrl:
        type: string

  ISO-4217:
    description: ISO 4217 currency format in which the balance is represented.
    type: object
    properties:
      code:
        type: string
        default: USD
        example: USD
      number:
        type: integer
        default: 840
        example: 840
      digits:
        type: integer
        default: 2
        example: 2
      currency:
        type: string
        default: US Dollar
        example: US Dollar

  ItemCode:
    description: Value object to hold site resource Item codes.
    type: object
    properties:
      posCodeFormat:
        description: Refer to PCATS documentation.
        type: string
      posCode:
        description: Refer to PCATS documentation.
        type: string
      posCodeModifier:
        description: Refer to PCATS documentation.
        type: string
      itemName:
        description: Item name as defined by the POS system for display on the customer device.
        type: string
      itemDescription:
        description: Item description as defined by the POS system for display on the
          customer device.
        type: string
      itemPrice:
        description: Item price as defined by the POS system for display on the customer device.
        type: string
      currencyNumericCode:
        $ref: '#/definitions/ISO-4217'
      displayOrder:
        description: Discounted item price as defined by the POS system. This would be a promotional discount, not based on a specific customer.
        type: integer
      discountedPrice:
        description: Indicator to track if discounted price is tied to a known promotion, offer, etc.
        type: number
      discountId:
        type: string
      loyaltyRewardSequenceNumber:
        description: References position in list of offered rewards. Used by items to link to an appropriate reward.
        type: string
      productCode:
        type: string
      amount:
        type: number
      quantity:
        type: number
      priceTier:
        type: string
      unitOfMeasurement:
        $ref: '#/definitions/QuantityUOM'
    example:
      posCodeFormat: plu
      posCode: '9999'
      posCodeModifier: '1'
      itemName: Basic Wash
      itemDescription: Basic Wash
      itemPrice: '10'
      currencyNumericCode: 123
      displayOrder: 123
      productCode: '102'
      priceTier: '1.00'
      discountedPrice: 0
      discountId: NA
      loyaltyRewardSequenceNumber: NA
      amount: 100
      quantity: 5
      weightUOM: NA
      volumeUOM: l

  LanguageCode:
    description: The language code parameter is based on two ISO specs (ISO 639-1,ISO-3166-1).  The first segment is the lower case, 2-character language code (based on ISO 639-1) followed by a hyphen "-" separator.  The second segment is the upper case, 2-character region code (based on ISO-3166-1). Examples are en-US, en-CA, fr-CA.
    type: string
    readOnly: true

  LoyaltyProgram:
    description: Value object to hold a list of loyalty items.
    type: object
    properties:
      programId:
        description: Unique identifier used to provide link between applications across disparate systems.
        type: string
      hostProgramId:
        description: Loyalty program Id used by the host (cloud) solution. Not in used in uCom system. For future use.
        type: string
      programName:
        description: Loyalty program name. Common name for the given loyalty program
        type: string
      programDesc:
        description: Used to describe the loyalty program and perhaps used to display to the client.
        type: string
      programProvider:
        description: Sponsor of the loyalty program.
        type: string
      loyaltyType:
        $ref: '#/definitions/LoyaltyType'
      programStatus:
        $ref: '#/definitions/ProgramStatus'
    example:
      programId: TEST_PROGRAM
      hostProgramId: TEST_HOST_PROGRAM
      programName: TEST_LOAYLTY_PROGRAM
      programDesc: Test loyalty program
      programProvider: Test Provider
      loyaltyType: LOCAL
      status: ENABLED

  Link:
    description: Model to communicate linked resources.
    type: object
    required:
      - href
      - rel
    properties:
      href:
        description: URL to linked resource.
        type: string
        format: uri
      rel:
        description: Defines the type of link relationship to current resource.
        type: string
        enum:
          - current.page
          - previous.page
          - next.page
          - self
        example:
          "self"
      method:
        description: Defines the HTTP method for the given href.
        type: string
        default: "GET"
        example:
          "GET"
      id:
        description: Identifier to the resource.
        type: string
        example:
          "415e5cf6bfdb11e8a355529269fb1459"

  NVP:
    title: Name and Value pair.
    type: object
    properties:
      name:
        type: string
      value:
        type: string
      valueAsList:
        type: array
        minItems: 0
        items:
          type: string

  PageLink:
    description: Page link information.
    type: object
    readOnly: true
    properties:
      firstPage:
        type: boolean
        description: Indicates if the list contains first page data
      lastPage:
        type: boolean
        description: Indicates if the list contains last page data
        example: false
      currentPage:
        type: integer
        description: Current page number
        example: 1
      currentPageRecords:
        type: integer
        description: Number of records in current page
        example: 25
      totalPages:
        type: integer
        example: 2
      totalRecords:
        type: integer
        example: 27
      sortOrder:
        type: string
        enum:
          - asc
          - desc
        example: asc
        default: asc
      _links:
        type: array
        items:
          $ref: '#/definitions/Link'

  Payments:
    description: Payments host information of a location.
    type: object
    properties:
      currencyNumericCode:
        $ref: '#/definitions/ISO-4217'
      settlementHostID:
        type: string
        readOnly: true
      settlementEmployee:
        type: string
        readOnly: true
      FEP:  # FEP for mobile payments that has to be used for a given  site.
        type: string
      MobilePaymentAcceptorID: #: A 12 digits ID that is set up in the POS and sent by the POS to the DFC to identify the site.
        type: string

  Petro:
    description: It is to represent specific information about petro site.
    type: object
    properties:
      pumpList:
        type: array
        items:
          $ref: '#/definitions/SitePump'

  Phone:
    description: Phone number for the user.
    type: object
    properties:
      value:
        description: The value SHOULD be specified according to the format defined in RFC3966, e.g., 'tel:+1-201-555-0123'.
        type: string
      type:
        description: Often has typical values of "work", "home", "mobile", "fax", "pager", and "other" and MAY allow more types to be defined by the service client.
        type: string
      primary:
        description: Defines if this entry is to be used as the primary or default for the user.
        type: boolean
        default: false
    example:
      value: 555-555-5555
      type: work

  PublicSiteInfo:
    description: Compact representation of site data returned for UI/UX needs in devices.
    type: object
    properties:
      petroBrand:
        $ref: '#/definitions/PetroBrand'
      siteAvailable:
        description: Indicator if the site is active.
        type: boolean
      welcomeMessage:
        description: Message displayed on the mobile device upon site checkin. The average length of this field should be around 100 characters to maintain visiblity on various mobile profiles.
        type: string
      hoursOfOperation:
        description: Hrs of operation of site.
        type: string
      languageCode:
        $ref: '#/definitions/LanguageCode'
      siteAuthTimeOut:
        description: Time out configuration for a site/pump
        type: integer
      geolocation:
        $ref: '#/definitions/Geolocation'
      additionalInfoJson:
        description: This contains free form site data in Json format.
        type: string
      product:
         type: array
         items:
           $ref: '#/definitions/ProductDetails'

  Site:
    description: It represents site entity for onboarding a site to uCom - Only one type of entity should be return like Petro or others. All properties defined bellow are kept generic.
    type: object
    properties:
      siteSpecifications:
        $ref: '#/definitions/SiteSpecifications'
      location:
        $ref: '#/definitions/Geolocation'
      payments:
        $ref: '#/definitions/Payments'
      siteservices:
        $ref: '#/definitions/SiteServices'
      resources:
        type: array
        items:
          $ref: '#/definitions/SiteResource'
      registers:
        type: array
        items:
          $ref: '#/definitions/SiteRegister'
      siteLoyalty:
        type: array
        items:
          $ref: '#/definitions/SiteLoyalty'
      petro:
        $ref: '#/definitions/Petro'
      additionalInfoJson:
        description: This contains free form site data in Json format.
        type: string

  SiteAddress:
    description: Value object to hold site address.
    type: object
    properties:
      type:
        description: 'Canonical type values of "work", "home", and "other".'
        type: string
      streetAddress:
        description:  The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
        type: string
      locality:
        description: The city or locality component.
        type: string
      region:
        description: The state or region component.
        type: string
      postalCode:
        description: The zip code or postal code component.
        type: string
      country:
        description: The country name component.  When specified, the value MUST be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden are "US" and "SE", respectively.
        type: string
      formatted:
        description: The full mailing address, formatted for display or use with a mailing label.
        type: string
      primary:
        description: Indicates if this is the default address for the associated resource. It only has meaning when used in a set or array of addresses.
        type: boolean
      phone:
        $ref: '#/definitions/Phone'
      email:
        $ref: '#/definitions/Email'

  SiteLink:
    description: Site Link information
    type: object
    properties:
      siteInfo:
        $ref: '#/definitions/PublicSiteInfo'
      _link:
        $ref: '#/definitions/Link'

  SiteLoyalty:
    description: It is to represent loyalty programs and status at the site.
    type: object
    properties:
      canEarn:
        type: boolean
      canRedeem:
        type: boolean
      loyaltyProgram:
        $ref: '#/definitions/LoyaltyProgram'

  SitePump:
    description: Value object to hold a list of site pumps.
    type: object
    properties:
      available:
        description: Flag to indicate if the pump is available for use. If the pump goes offline FD will expect this to change in an update message.
        type: boolean
      pumpNumber:
        description: Numeric value associated with the fuel dispenser.
        type: integer
      type:
        description: Display value for fuel type.
        type: string
      serviceLevelCode:
        description: "Display value for service level at the pump. For example - full, self, etc."
        type: string
      fuelAmount:
        description: Fuel amount
        type: number
      gradeList:
        type: array
        items:
          $ref: '#/definitions/FuelGrade'
      additiveList:
        type: array
        items:
          $ref: '#/definitions/Additive'

  SiteRegister:
    description: Value object to hold a list of site registers.
    type: object
    readOnly: true
    properties:
      terminalID:
        type: string
      terminalName:
        type: string
      peripheralType:
        type: string
      available:
        type: boolean

  SiteResource:
    description: Value object to hold site available resource.
    type: object
    properties:
      available:
        description: If the resource is available for use. If the resource goes offline FD will expect this to change in an PATCH request message.
        type: boolean
      id:
        description: Unique identifier for the resource.
        type: string
        readOnly: true
      name:
        description: Name for the resource.
        type: string
      type:
        description: Type identifier for the resource.
        type: string
      description:
        description: Description for the resource.
        type: string
      startAvailableTime:
        description: Used to identify the start time that a resource (e.g. carwash) is available.
        type: string
        format: date
      endAvailableTime:
        description: Used to identify the end time that a resource (e.g. carwash) is available.
        type: string
        format: date
      itemList:
        type: array
        items:
          $ref: '#/definitions/ItemCode'
      resourceId:
        description: resource id.
        type: string
    example:
      available: true
      name: Carwash
      type: Basic Wash
      description: Carwash Primum
      endAvailableTime: '12:00AM'
      startAvailableTime: '12:00PM'
      resourceId: '831'

  SitesSearchResult:
    description: This object contains site records for lat lag based request.
    type: object
    readOnly: true
    properties:
      pages:
        $ref: '#/definitions/PageLink'
      sites:
        type: array
        items:
          $ref: '#/definitions/SiteLink'

  SiteServices:
    description: Value object to hold feature avaliable at site.
    type: object
    properties:
      mobilePayment:
        description: Status of mobile payments at site - Available/Not-available
        type: boolean
      customerToilets:
        description: Status of toilets at site - Available/Not-available
        type: boolean
      motorwaySite:
        description: Status of moter way at site - Available/Not-available
        type: boolean
      open24Hours:
        description: Status of hrs of operation at site - Available/Not-available
        type: boolean
      atm:
        description: Status of atm feature at site - Available/Not-available
        type: boolean
      hgv_pumps:
        description: Status of hvg at site - Available/Not-available
        type: boolean
      lpg:
        description: Status of lpg feature at site - Available/Not-available
        type: boolean
      supremeDiesel:
        description: Status of supreme diesel at site - Available/Not-available
        type: boolean
      supremeUnleaded:
        description: Status of supreme unleded-diesel at site - Available/Not-available
        type: boolean
      adblue:
        type: boolean
      airTower:
        description: Status of air tower feature at site - Available/Not-available
        type: boolean
      foodService:
        description: Status of food service at site - Available/Not-available
        type: boolean
      carwash:
        description: Status of car wash at site - Available/Not-available
        type: boolean
      premiumCoffee:
        description: Status of premium coffee at site - Available/Not-available
        type: boolean
      jetWash:
        description: Status of jet wash feature at site - Available/Not-available
        type: boolean
      mobil1:
        type: boolean
      pointsOnFuel:
        description: Status of points on fuel purchase feature at site - Available/Not-available
        type: boolean
      pointsOnFuelAndShop:
        description: Status of points on fuel and shop purchase feature at site -Available/Not-available
        type: boolean
      tescoExpress:
        description: Status of air tesco express  at site - Available/Not-available
        type: boolean
      partialAuthAllowed:
        description: Status of partial auth at site - Available/Not-available
        type: boolean

  SiteSpecifications:
    description: This contains site information.
    type: object
    properties:
      siteTerminalId:
        description: BuyPass ATL105 Terminal Id used in the settlement file.
        type: string
      siteAvailable:
        description: Indicator if the site is active.
        type: boolean
      siteName:
        description: Name of the site as defined as part of the onboarding process.
        type: string
      welcomeMessage:
        description: Message displayed on the mobile device upon site checkin. The average length of this field should be around 100 characters to maintain visiblity on various mobile profiles.
        type: string
      hoursOfOperation:
        description: Hrs of operation of site.
        type: string
      languageCode:
        $ref: '#/definitions/LanguageCode'
      poiType:                  # not sure - do we need this.
        type: string
      siteAuthTimeOut:
        description: Time out configuration for a site/pump
        type: integer
      protocol:
        $ref: '#/definitions/Protocol'
      VATNumber:
        description: VAT tax number for Merchant.
        type: string
      brandedWholesaler:
        description: Merchant bradded Wholesaler Id for promotion.
        type: string
      loyaltyAvailable:
        description: Indicates if site has loyalty available
        type: boolean
    example:
      siteTerminalId: '45690'
      siteAvailable: true
      siteName: FD Test Site Dummy
      welcomeMessage: Welcome to petrol site
      hoursOfOperation: NA
      languageCode: en-US
      poiType: NA
      siteVendorId: SITE_DUMMY
      siteAuthTimeOut: 30
      protocol: CONNEXUS

  Venue:
    description: Venue overview
    type: object
    properties:
      venueId:
        type: string
      venueName:
        type: string
      description:
        type: string
      address:
        $ref: '#/definitions/Address'
      phone:
        $ref: '#/definitions/Phone'
      email:
        $ref: '#/definitions/Email'
      image:
        $ref: '#/definitions/Image'

  VenueSection:
    description: Venue section details
    type: object
    properties:
      venueSectionId:
        type: string
      venueSectionName:
        type: string
      description:
        type: string
      pickupLocationId:
        type: string
      inseatConcessionId:
        type: string
      venueSectionType:
        type: string
      rows:
        type: array
        items:
          $ref: '#/definitions/VenueRow'

  VenueRow:
    description: Venue row details
    type: object
    properties:
      venueRowid:
        type: string
      venueRowName:
        type: string
      seats:
        type: array
        items:
          type: string

  VenueSuite:
    description: Venue suite details
    type: object
    properties:
      venueSuiteId:
        type: string
      venueSuiteName:
        type: string
      description:
        type: string
      merchantIds:
        type: array
        items:
          type: string

  VenueTable:
    description: Venue table details
    type: object
    properties:
      venueTableId:
        type: string
      venueTableName:
        type: string
      description:
        type: string
      merchantIds:
        type: array
        items:
          type: string

  VenuesSearchResult:
    description: This object contains venue records.
    type: object
    readOnly: true
    properties:
      pages:
        $ref: '#/definitions/PageLink'
      venues:
        type: array
        items:
          $ref: '#/definitions/Venue'

  VenuesSectionSearchResult:
    description: This object contains venue section records.
    type: object
    readOnly: true
    properties:
      pages:
        $ref: '#/definitions/PageLink'
      venueSections:
        type: array
        items:
          $ref: '#/definitions/VenueSection'

  VenuesSuiteSearchResult:
    description: This object contains venue suite records.
    type: object
    readOnly: true
    properties:
      pages:
        $ref: '#/definitions/PageLink'
      venueSuites:
        type: array
        items:
          $ref: '#/definitions/VenueSuite'

  VenuesTableSearchResult:
    description: This object contains venue table records.
    type: object
    readOnly: true
    properties:
      pages:
        $ref: '#/definitions/PageLink'
      venueTables:
        type: array
        items:
          $ref: '#/definitions/VenueTable'



#-------------------------------------
# Common Models
#-------------------------------------
  DeviceInfo:
    description: Request origin device details
    type: object
    required:
      - id
      - kind
    properties:
      id:
        description: Unique Id for the device. Value should not contain line feeds, carriage returns, tabs, leading or trailing spaces, or multiple spaces.
        type: string
        example: "537edec8-d33e-4ee8-93a7-b9f61876950c"
      kind:
        description: Possible values are mobile, wearable, automobile, embedded,desktop, other.
        type: string
        example: "mobile"
      details:
        title: deviceData
        description: Device data information from multiple providers.
        type: array
        minItems: 0
        uniqueItems: true
        items:
          description: Collection of device data
          type: object
          properties:
            provider:
              description: Identifies the provider of the data and is often used when decrypting data on the server.
              type: string
              example: "InAuth"
            dataCapture:
              description: Device data captured as a bundle and transmitted as an encrypted and/or specifically formated string.
              type: object
              properties:
                rawData:
                  description: Device capture - raw data blob
                  type: string
                  example: "aaaaaXREUVZGRlFY...aMV"
                dataEventId:
                  description: Event identifier used map state on the server.
                  type: string
                  example: "BB8E4E92...Fz1E063113"
                captureTime:
                  description: Device data capture time in Internet Date/Time format - yyyy-MM-dd'T'HH:mm:ss'Z'
                  type: string
                  format: date-time
                  example: "2016-04-16T16:06:05Z"
            dataStatic:
              description: Device static details
              type: object
              properties:
                os:
                  description: Device OS name
                  type: string
                  example: "Android 5.1.1 Lollipop"
                osVersion:
                  description: Device OS version
                  type: string
                  example: "5.1.1 Lollipop"
                model:
                  description: Device model
                  type: string
                  example: "XT1540"
                type:
                  description: Device type
                  type: string
                  example: "Moto G"
            dataDynamic:
              description: Device location details
              type: object
              properties:
                latitude:
                  description: Device position - latitude at the time of the data event
                  type: string
                  example: "13.0827 N"
                longitude:
                  description: Device position - longitude at the time of the data event
                  type: string
                  example: "80.2707 E"
                ipAddress:
                  description: IP address
                  type: string
                  example: "172.27.37.221"
                captureTime:
                  description: Device data capture time in Internet Date/Time format - yyyy-MM-dd'T'HH:mm:ss'Z'
                  type: string
                  format: date-time
                  example: "2016-04-16T16:06:05Z"
            dataApplication:
              description: Mobile application specific data
              type: object
              properties:
                version:
                  description: Mobile application version.
                  type: string
                  format: sting
                  example: "1.0.0"
                name:
                  description: Mobile application name.
                  type: string
                  format: sting
                  example: "aplication-name"
                country:
                  description: Mobile application store country.
                  type: string
                  format: sting
                  example: "US"
      additionalInfo:
        type: array
        minItems: 0
        items:
          $ref: '#/definitions/NVP'
        uniqueItems: true
    example:
      {
      id: "537edec8-d33e-4ee8-93a7-b9f61876950c",
      kind: "mobile",
      details: [{
        provider: "InAuth",
        dataCapture: {
          rawData: "aaaaaXREUVZGRlFY...aMV",
          dataEventId: "BB8E4E92...Fz1E063113",
          captureTime: "2016-04-16T16:06:05Z"
        },
        dataStatic: {
           os: "Android 5.1.1 Lollipop",
           osVersion: "5.1.1 Lollipop",
           model: "XYX-1",
           Type: "Moto G"
          },
        dataDynamic: {
          latitude: "13.0827 N",
          longitude: "80.2707 E",
          ipAddress: "172.27.37.221",
          captureTime: "2016-04-16T16:06:05Z"
          }
      }],
      additionalInfo: [{
         name: "some-key",
         value: "some-value"
      }]
    }

  Error:
    description: Model for error messaging
    type: object
    properties:
      code:
        type: string
        description: Uniquely identifies an error condition. Client applications need to read and handle errors based on this.
      message:
        type: string
        description: A generic description of the error condition.
      category:
        type: string
        description: The resource associated with the error condition.
      developerInfo:
        type: object
        description: Information that needs to be understood by the client developers and should not be interpreted for application processing.
        properties:
          developerMessage:
            type: string
            description: An elaborative description of the error description.
          moreInfo:
            type: string
            description: Link to the error in Developer page.
          fieldError:
            description: Detailed information about message format errors.
            type: array
            items:
              properties:
                field:
                  description: The property or attribute associated with the error
                  type: string
                message:
                  description: Information specific to a property or attribute.
                  type: string
      hostExtraInfo:
        type: array
        minItems: 0
        items:
          $ref: '#/definitions/NVP'
        uniqueItems: true
      _links:
        type: array
        items:
          $ref: '#/definitions/Link'

    example:
      code: '40000'
      message: Example Error
      category: example
      developerInfo:
        developerMessage: Invalid Message format in request payload
        moreInfo: 'https://www.example.com/errors/40000'
        fieldError:
          - field: "example id"
            message: "exampleId is mandatory"

#-------------------------------------
# ENUM Models
#-------------------------------------
  LoyaltyType:
    description: Identifier to indicate type of Loyalty program being registered.
    type: string
    enum:
      - LOCAL
      - NATIONAL

  PetroBrand:
    description: Indicator of fuel brand sold at the given site.
    type: string
    enum:
      - ESSO
      - EXXONMOBIL
      - IOL
      - SUNOCO

  ProgramStatus:
    description: Indicates if the given loyalty program is still active or not.
    type: string
    enum:
      - ENABLED
      - DISABLED
      - CONTRACTED_ONLY

  Protocol:
    description: supported specification for site.
    type: string
    enum:
      - CONNECTORSWITCH
      - CONNEXUS
      - IFSF
      - NCR
      - CONNECTORSWITCH_ASYNC
      - CONNECTORSWITCH_UCOM    #Not sure on it. Need discussion
      - CONNECTORSWITCH_NOTIFY  #Not sure on it. Need discussion


  QuantityUOM:
    description: Combined unit of measure for a POS sale.
    type: string
    enum:
      - ml
      - cc
      - litre
      - fluidOunce
      - pint
      - quart
      - gallonUS
      - gallonUK
      - gram
      - kg
      - oz
      - lb
      - ea

#-------------------------------------
# Responses
#-------------------------------------
responses:
  Created:
    description: Resource created
    headers:
      Location:
        type: string
        description: Location of newly created resource.
    schema:
      $ref: '#/definitions/Site'

  OK:
    description: OK
    schema:
      $ref: '#/definitions/Site'

  NoContent:
    description: The request succeeded but there’s really nothing to show.

  BadRequest:
    description: Bad request
    schema:
      $ref: '#/definitions/Error'

  Unauthorized:
    description: Unauthorized

  NotFound:
    description: Not Found - The requested resource doesn't exist.
    schema:
      $ref: '#/definitions/Error'

  Conflict:
    description: Conflict - The requested operation conflicts with the current state of the identified resource.
    schema:
      $ref: '#/definitions/Error'

  ServerError:
    description: An unexpected server error occured.
    schema:
      $ref: '#/definitions/Error'

#-------------------------------------
# Parameter Models
#-------------------------------------
parameters:
  AcceptLanguageParam:
    name: Accept-Language
    description: The Accept-Language header contains information about the language preference of a user. This HTTP header is useful to multilingual sites for deciding the best language to serve to the client. i.e en-US,fr-CA
    in: header
    type: string

  ApiKeyParam:
    name: Api-Key
    description: An API key is a string value passed by a client app to the API proxies. The key uniquely identifies the client app.
    in: header
    required: true
    type: string

  AuthorizationParam:
    name: Authorization
    description: 'Authorization information for the request. Format- `HMAC {hmacToken}`'
    in: header
    required: true
    type: string

  ClientTokenParam:
    name: Client-Token
    description: Used to pass the original client OAuth token information given in a client-credentials flow.  This field is only used when the server is making the request and needs to link the transaction to a specific client.  Format- `Bearer {access_token}`
    in: header
    type: string

  ClientRequestIdParam:
    name: Client-Request-Id
    description: Contains a unique ID generated by the client that can be used for enforcing idempotency on POST actions. POSTs are inherently non-idempotent and submitting the exact same request multiple times would create duplicate resources. Note:- Omitting this header increases the risk of duplicate transactions, which for payments could cost the client issues like double-billing.
    in: header
    required: true
    type: string

  SubMerchantIdParam:
    name: Sub-Merchant-Id
    description: Sub Merchant Id contains information about the merchant identifier
    in: header
    type: string


  IncludeAllParam:
    name: includeAll
    description: Flag to determine whether all details are to be included in the Site
      response.
    in: query
    required: false
    type: boolean

  LatLongParam:
    name: latlng
    in: query
    description: Latitude and longitude of the location.
    required: false
    allowEmptyValue: false
    type: string

  PageNumberParam:
    name: pageNo
    description: Page number
    in: query
    required: false
    type: integer

  PageSizeParam:
    name: pageSize
    description: 'Max number of records per page. Supported values - 5, 10, 15, 20, 25 ..50'
    in: query
    required: false
    type: integer
    allowEmptyValue: false

  RadiusParam:
    name: radius
    in: query
    description: Radius to define geo-fencing.
    required: false
    allowEmptyValue: false
    type: string

  RegionParam:
    name: region
    in : query
    description: Geographic area of given location, i.e a specific city, town, county
    type: string

  RetailerPartnerIdParam:
    name: Retailer-Partner-Id
    description: Retailer partner identification for marketplace
    in: header
    required: false
    type: string

  SearchKeywordsParam:
    name: searchKeywords
    in : query
    description: Space delimited list of words for secondary filtering
    type: string

  ServiceAreaParam:
    name: serviceArea
    in : query
    description: Service area for filtering search
    required: false
    allowEmptyValue: false
    type: string

  ServicePartnerParam:
    name: servicePartner
    in : query
    description: Service partner for filtering search
    required: false
    allowEmptyValue: false
    type: string

  SiteLocationIdParam:
    name: siteLocationId
    description: Unique identifier to loacte site.
    in: path
    required: true
    type: string

  TimestampParam:
    name: Timestamp
    description: Epoch timestamp in the request initiating system
    in: header
    required: true
    type: string

  UnitOfMeasurementParam:
    name: uom
    in: query
    description: 'Unit to mesure geo-fencing - km, miles.'
    required: false
    allowEmptyValue: false
    type: string

  TypeParam:
    name: type
    in: query
    description: 'This is to identify diffrent types for siteCheckin/siteUpdate request. Example - type=qrcode for siteCheckin in EMEA type=site for siteCheckin in US. For GeoLoationSiteUpdate, type=geoSite'
    required: false
    allowEmptyValue: false
    type: string

  VenueCategoryParam:
    name: venueCategory
    in : query
    description: Type of venue, i.e sports, hotels, conference
    type: string

  VenueIdParam:
    name: venueId
    in : path
    required: true
    description: Venue identifier
    type: string
