# Document Change Log
# 0.2.3
#     - No Changes
# 0.2.2
#     - No Changes
# 0.2.1
#     - Added Merchant id as header field
# 0.2.0
#     - Added fields in ThreeDSecure object
#     - Added Price tier in POSItem
# 0.1.9
#     - No change.
# 0.1.8
#     - Added new API's for venue
# 0.1.7sites
#     - Added SiteLoyalty in the site checkin response.
# 0.1.6
#     - Changed litter to litre in VolumeEOM
#     - Added Accept-Language header field
# 0.1.5
#     - Added Link in the Error object.
#     - Added retailer partner in the site checkin request
#     - Added serviceArea, servicePartner query params for retrieving geo sites
# 0.1.4
#     - Added product details for Geolocation services. It has list of unique product code and product price.
# 0.1.3
#     - Adding NVP with valueAsList
#     - update in DeviceInfo.
#     - added brandedWholesaler for a site
# 0.1.2
#     - Added VAT Number as part of site specification at top level.
# 0.1.1
#     - Added support for free form Json data for Geo-location services.
#     - Added 'id' attribute to Link
# 0.1.0
#     - Added client-token in the header field
# 0.0.9
#     - No change.
# 0.0.8
#     - No change.
# 0.0.7
#     - No change.
# 0.0.6
#     - Introduced new object PublicSiteInfo
#     - Modified geo location API to return PublicSiteInfo instead of GeoLocation
# 0.0.5
#     - Updated the response structure for the get operation to include pagination details
#     - Changed name of attribute for Site in SiteRequest object
#     - Added api to search sites based on geo location
#     - Set results for search results and get all petrol sites to use same structures
#     - Organized the parameters to be alphabetical
# 0.0.4
#     - Added get operation to retrieve all sites with pagination support
# 0.0.3
#     - Corrected name of attribute geoFencingSiteRecord
#     - Corrected attribute names in ItemCode object
# 0.0.2
#     - Added 'osVersion' attribute to 'DeviceInfo' object.
#     - updated method type PUT from PATCH
# 0.0.1
#     - Initial Version
#-------------------------------------

openapi: 3.0.1
info:
  title: uCom Site Services
  description: Services for site management and configuration.
  version: 0.2.3
servers:
- url: https://int.api.firstdata.com/ucom
tags:
- name: petro-sites
  description: Operations and details for petro site services.
- name: geolocation
  description: Operations for sites based on geo location.
paths:
  /v1/petro-sites:
    get:
      x-group-name: Site Services
      x-proxy-name: Get List of Petro-sites
      tags:
      - petro-sites
      description: This API is to get the list of all active sites. Site summary details will be returned. All details for given site will be returned only when the IncludeAllParam is set to true.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/IncludeAllParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/TypeParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesSearchResult'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/ServerError'

    post:
      x-group-name: Site Services
      x-proxy-name: Onboard Petroleum Sites
      tags:
      - petro-sites
      description: This API will onboard petroleum sites to uCom system.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/TypeParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        description: Site information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SiteRequest'
        required: true
      responses:
        201:
          $ref: '#/components/responses/Created'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/petro-sites/{siteLocationId}:
    get:
      x-group-name: Site Services
      x-proxy-name: Get Site Details
      tags:
      - petro-sites
      description: This API is to get the site information from uCom system.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/SiteLocationIdParam'
      - $ref: '#/components/parameters/TypeParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Site'
              examples:
                Minimal:
                  summary: Sample response of site information
                  $ref: '#/components/examples/GetSiteInformationBySiteLocationID'

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    put:
      x-group-name: Site Services
      x-proxy-name: Update Full Site Replacement
      tags:
      - petro-sites
      description: This API will updates the sites configurations in uCom system with a full replacement of the existing record.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/SiteLocationIdParam'
      - $ref: '#/components/parameters/TypeParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        description: site information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Site'
        required: true
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

    delete:
      x-group-name: Site Services
      x-proxy-name: Delete Site
      tags:
      - petro-sites
      description: This API is used to Delete a site from the uCom system.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/SiteLocationIdParam'
      - $ref: '#/components/parameters/TypeParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/geolocation/sites:
    get:
      x-group-name: Site Services
      x-proxy-name: Search Site Locations by Latitude and Longitude
      tags:
      - geolocation
      description: Query for a list of sites based on geo-location coordinates and a given radius.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/LatLongParam'
      - $ref: '#/components/parameters/RadiusParam'
      - $ref: '#/components/parameters/UnitOfMeasurementParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/ServiceAreaParam'
      - $ref: '#/components/parameters/ServicePartnerParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesSearchResult'
              examples:
                Minimal:
                  summary: Sample response for list of sites
                  $ref: '#/components/examples/GetSitesByGeoCoordinates'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/venues:
    get:
      x-group-name: Site Services
      x-proxy-name: Get Venue Information
      tags:
      - venue
      description: Retrieves venue information
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/RegionParam'
      - $ref: '#/components/parameters/VenueCategoryParam'
      - $ref: '#/components/parameters/SearchKeywordsParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenuesSearchResult'
              examples:
                Minimal:
                  summary: Sample response of venue information
                  $ref: '#/components/examples/GetVenueInformation'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/venues/{venueId}/sections:
    get:
      x-group-name: Site Services
      x-proxy-name: Get List of Venue Sections
      tags:
      - venue
      description: Retrieves venue sections
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/VenueIdParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenuesSectionSearchResult'
              examples:
                Minimal:
                  summary: Sample response of venue section information
                  $ref: '#/components/examples/GetVenueSectionInformation'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/venues/{venueId}/suites:
    get:
      x-group-name: Site Services
      x-proxy-name: Get Venue Suites
      tags:
      - venue
      description: Retrieves venue suites
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/VenueIdParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenuesSuiteSearchResult'
              examples:
                Minimal:
                  summary: Sample response of venue suites information
                  $ref: '#/components/examples/GetVenueSuites'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/venues/{venueId}/tables:
    get:
      x-group-name: Site Services
      x-proxy-name: Get Venue Tables
      tags:
      - venue
      description: Retrieves venue tables
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      - $ref: '#/components/parameters/VenueIdParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VenuesTableSearchResult'
              examples:
                Minimal:
                  summary: Sample response of venue tables information
                  $ref: '#/components/examples/GetVenueTables'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    #-------------------------------------
    # Operational Models
    #-------------------------------------
    SiteRequest:
      title: Site Request
      type: object
      properties:
        site:
          $ref: '#/components/schemas/Site'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    #-------------------------------------
    # Resource Models
    #-------------------------------------
    Additive:
      type: object
      properties:
        additiveid:
          type: string
        type:
          type: string
        description:
          type: string
        available:
          type: boolean
        price:
          type: number
      description: A type of fuel additive available for purchase at a pump.

    Address:
      type: object
      properties:
        type:
          type: string
          description: Canonical type values of "work", "home", and "other".
        streetAddress:
          type: string
          description: The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
        locality:
          type: string
          description: The city or locality component.
        region:
          type: string
          description: The state or region component.
        postalCode:
          type: string
          description: The zip code or postal code component.
        country:
          type: string
          description: The country name component.  When specified, the value MUST be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden are "US" and "SE", respectively.
        formatted:
          type: string
          description: The full mailing address, formatted for display or use with a mailing label.
        primary:
          type: boolean
          description: Indicates if this is the default address for the associated resource. It only has meaning when used in a set or array of addresses.
      description: A physical mailing address for this user.
      example:
        type: work
        streetAddress: 100 Universal City Plaza
        locality: Hollywood
        region: CA
        postalCode: "91608"
        country: US
        formatted: |-
          100 Universal City Plaza
          Hollywood, CA 91608 US
        primary: true

    ProductDetails:
      type: object
      properties:
        type:
          type: string
          description: type of product like carwash or fuel.
          example: fuel
        code:
          type: string
          description: This is product code provided by POS.
          example: 2
        unitOfMeasure:
          type: string
          description: Unit of measure for a POS sale.
          example: litre
        unitPrice:
          type: string
          description: Product price information.
          example: 2.679
        additionalProductInfo:
          type: string
          description: Additional Product price information.
          example: Super
      description: This contains list of product price and other product information.
      
    Email:
      type: object
      properties:
        type:
          type: string
          description: The "type" sub-attribute is used to provide a classification meaningful to the (human) user.  The user interface should encourage the use of basic values of "work", "home", and "other" and MAY allow additional type values to be used at the discretion of the service client.
        value:
          type: string
          description: The value SHOULD be specified according to RFC5321.
        primary:
          type: boolean
          description: Defines if this entry is to be used as the primary or default for the user.
          default: false
      description: Email address for the user.
      example:
        value: bjensen@example.com
        type: work
        primary: true

    FuelGrade:
      type: object
      properties:
        gradeId:
          type: string
          readOnly: true
        description:
          type: string
        available:
          type: string
        price:
          type: number
        productCode:
          type: string
        unitOfMeasurement:
          $ref: '#/components/schemas/QuantityUOM'
        priceTier:
          type: string
        posCodeFormat:
          type: string
          example: plu
        posCode:
          type: string
          example: "102"
        posCodeModifier:
          type: string
          example: "1"
        amount:
          type: number
          format: double
          example: 7.5
      description: Defines a grade of fuel purchasable at a pump.

    Geolocation:
      type: object
      properties:
        siteId:
          type: string
          description: The location id or number used to identify the unique site and merchant.
          example: CA123456
        longitude:
          type: number
          description: The GPS latitude value of the site. To be captured at time of onboarding. Not necessary for daily update at startup.
        latitude:
          type: number
          description: The GPS longitude value of the site. To be captured at time of onboarding. Not necessary for daily update at startup.
        siteAddress:
          $ref: '#/components/schemas/SiteAddress'
        PBL:
          type: string
          description: Identifier for the physical business location.  The value should be geologically distinct.
        status:
          type: string
          description: Identifies if site is active
        siteName:
          type: string
          description: Name of the site as defined as part of the onboarding process.
        siteVendorId:
          type: string
          description: Name of the partner who owns the site.
        retailerPartnerId:
          type: string
          description: Name of the configured retailer.
      description: Geo-spatial data for a given location

    Image:
      type: object
      properties:
        imageId:
          type: string
        imageType:
          type: string
        width:
          type: integer
        height:
          type: integer
        srcUrl:
          type: string
      description: Graphical representation of an object

    ISO-4217:
      type: object
      properties:
        code:
          type: string
          example: USD
          default: USD
        number:
          type: integer
          example: 840
        digits:
          type: integer
          example: 2
        currency:
          type: string
          example: US Dollar
          default: US Dollar
      description: ISO 4217 currency format in which the balance is represented.

    ItemCode:
      type: object
      properties:
        posCodeFormat:
          type: string
          description: Refer to PCATS documentation.
          example: plu
        posCode:
          type: string
          description: Refer to PCATS documentation.
          example: "9999"
        posCodeModifier:
          type: string
          description: Refer to PCATS documentation.
          example: "1"
        itemName:
          type: string
          description: Item name as defined by the POS system for display on the customer device.
          example: Basic Wash
        itemDescription:
          type: string
          description: Item description as defined by the POS system for display on the customer device.
          example: Basic Wash
        itemPrice:
          type: string
          description: Item price as defined by the POS system for display on the customer device.
          example: "10"
        currencyNumericCode:
          $ref: '#/components/schemas/ISO-4217'
          example: 123
        displayOrder:
          type: integer
          description: Discounted item price as defined by the POS system. This would be a promotional discount, not based on a specific customer.
          example: 123
        discountedPrice:
          type: number
          description: Indicator to track if discounted price is tied to a known promotion, offer, etc.
        discountId:
          type: string
        loyaltyRewardSequenceNumber:
          type: string
          description: References position in list of offered rewards. Used by items to link to an appropriate reward.
        productCode:
          type: string
          example: "102"
        amount:
          type: number
          example: 100
        quantity:
          type: number
          example: 5
        priceTier:
          type: string
        unitOfMeasurement:
          $ref: '#/components/schemas/QuantityUOM'
      description: Value object to hold site resource Item codes.
      
    LanguageCode:
      type: string
      description: The language code parameter is based on two ISO specs (ISO 639-1,ISO-3166-1).  The first segment is the lower case, 2-character language code (based on ISO 639-1) followed by a hyphen "-" separator.  The second segment is the upper case, 2-character region code (based on ISO-3166-1). Examples are en-US, en-CA, fr-CA.

    LoyaltyProgram:
      type: object
      properties:
        programId:
          type: string
          description: Unique identifier used to provide link between applications across disparate systems.
          example: TEST_PROGRAM
        hostProgramId:
          type: string
          description: Loyalty program Id used by the host (cloud) solution. Not in used in uCom system. For future use.
          example: TEST_HOST_PROGRAM
        programName:
          type: string
          description: Loyalty program name. Common name for the given loyalty program
          example: TEST_LOYALTY_PROGRAM
        programDesc:
          type: string
          description: Used to describe the loyalty program and perhaps used to display to the client.
          example: Test loyalty program
        programProvider:
          type: string
          description: Sponsor of the loyalty program.
          example: Test Provider
        loyaltyType:
          $ref: '#/components/schemas/LoyaltyType'
          example: LOCAL
        programStatus:
          $ref: '#/components/schemas/ProgramStatus'
          example: ENABLED
      description: Value object to hold a list of loyalty items.
      
    Link:
      required:
      - href
      - rel
      type: object
      properties:
        href:
          type: string
          description: URL to linked resource.
          format: uri
        rel:
          type: string
          description: Defines the type of link relationship to current resource.
          example: self
          enum:
          - current.page
          - previous.page
          - next.page
          - self
        method:
          type: string
          description: Defines the HTTP method for the given href.
          example: GET
          default: GET
        id:
          type: string
          description: Identifier to the resource.
          example: 415e5cf6bfdb11e8a355529269fb1459
      description: Model to communicate linked resources.

    NVP:
      title: Name and Value pair.
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        valueAsList:
          minItems: 0
          type: array
          items:
            type: string

    PageLink:
      type: object
      properties:
        firstPage:
          type: boolean
          description: Indicates if the list contains first page data
        lastPage:
          type: boolean
          description: Indicates if the list contains last page data
          example: false
        currentPage:
          type: integer
          description: Current page number
          example: 1
        currentPageRecords:
          type: integer
          description: Number of records in current page
          example: 25
        totalPages:
          type: integer
          example: 2
        totalRecords:
          type: integer
          example: 27
        sortOrder:
          type: string
          example: asc
          default: asc
          enum:
          - asc
          - desc
        _links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
      description: Page link information.

    Payments:
      type: object
      properties:
        currencyNumericCode:
          $ref: '#/components/schemas/ISO-4217'
        settlementHostID:
          type: string
          readOnly: true
        settlementEmployee:
          type: string
          readOnly: true
        FEP:
          type: string
        MobilePaymentAcceptorID:
          type: string
      description: Payments host information of a location.

    Petro:
      type: object
      properties:
        pumpList:
          type: array
          items:
            $ref: '#/components/schemas/SitePump'
      description: It is to represent specific information about petro site.

    Phone:
      type: object
      properties:
        value:
          type: string
          description: The value SHOULD be specified according to the format defined in RFC3966, e.g., 'tel:+1-201-555-0123'.
        type:
          type: string
          description: Often has typical values of "work", "home", "mobile", "fax", "pager", and "other" and MAY allow more types to be defined by the service client.
        primary:
          type: boolean
          description: Defines if this entry is to be used as the primary or default for the user.
          default: false
      description: Phone number for the user.
      example:
        value: 555-555-5555
        type: work

    PublicSiteInfo:
      type: object
      properties:
        petroBrand:
          $ref: '#/components/schemas/PetroBrand'
        siteAvailable:
          type: boolean
          description: Indicator if the site is active.
        welcomeMessage:
          type: string
          description: Message displayed on the mobile device upon site check-in. The average length of this field should be around 100 characters to maintain visibility on various mobile profiles.
        hoursOfOperation:
          type: string
          description: Hrs of operation of site.
        languageCode:
          $ref: '#/components/schemas/LanguageCode'
        siteAuthTimeOut:
          type: integer
          description: Time out configuration for a site/pump
        geolocation:
          $ref: '#/components/schemas/Geolocation'
        additionalInfoJson:
          type: string
          description: This contains free form site data in Json format.
        product:
          type: array
          items:
            $ref: '#/components/schemas/ProductDetails'
      description: Compact representation of site data returned for UI/UX needs in devices.

    Site:
      type: object
      properties:
        siteSpecifications:
          $ref: '#/components/schemas/SiteSpecifications'
        location:
          $ref: '#/components/schemas/Geolocation'
        payments:
          $ref: '#/components/schemas/Payments'
        siteservices:
          $ref: '#/components/schemas/SiteServices'
        resources:
          type: array
          items:
            $ref: '#/components/schemas/SiteResource'
        registers:
          type: array
          items:
            $ref: '#/components/schemas/SiteRegister'
        siteLoyalty:
          type: array
          items:
            $ref: '#/components/schemas/SiteLoyalty'
        petro:
          $ref: '#/components/schemas/Petro'
        additionalInfoJson:
          type: string
          description: This contains free form site data in Json format.
      description: It represents site entity for onboarding a site to uCom - Only one type of entity should be return like Petro or others. All properties defined bellow are kept generic.

    SiteAddress:
      type: object
      properties:
        type:
          type: string
          description: Canonical type values of "work", "home", and "other".
        streetAddress:
          type: string
          description: The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
        locality:
          type: string
          description: The city or locality component.
        region:
          type: string
          description: The state or region component.
        postalCode:
          type: string
          description: The zip code or postal code component.
        country:
          type: string
          description: The country name component.  When specified, the value MUST be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden are "US" and "SE", respectively.
        formatted:
          type: string
          description: The full mailing address, formatted for display or use with a mailing label.
        primary:
          type: boolean
          description: Indicates if this is the default address for the associated resource. It only has meaning when used in a set or array of addresses.
        phone:
          $ref: '#/components/schemas/Phone'
        email:
          $ref: '#/components/schemas/Email'
      description: Value object to hold site address.

    SiteLink:
      type: object
      properties:
        siteInfo:
          $ref: '#/components/schemas/PublicSiteInfo'
        _link:
          $ref: '#/components/schemas/Link'
      description: Site Link information

    SiteLoyalty:
      type: object
      properties:
        canEarn:
          type: boolean
        canRedeem:
          type: boolean
        loyaltyProgram:
          $ref: '#/components/schemas/LoyaltyProgram'
      description: It is to represent loyalty programs and status at the site.

    SitePump:
      type: object
      properties:
        available:
          type: boolean
          description: Flag to indicate if the pump is available for use. If the pump goes offline FD will expect this to change in an update message.
        pumpNumber:
          type: integer
          description: Numeric value associated with the fuel dispenser.
        type:
          type: string
          description: Display value for fuel type.
        serviceLevelCode:
          type: string
          description: Display value for service level at the pump. For example - full, self, etc.
        fuelAmount:
          type: number
          description: Fuel amount
        gradeList:
          type: array
          items:
            $ref: '#/components/schemas/FuelGrade'
        additiveList:
          type: array
          items:
            $ref: '#/components/schemas/Additive'
      description: Value object to hold a list of site pumps.

    SiteRegister:
      type: object
      properties:
        terminalID:
          type: string
        terminalName:
          type: string
        peripheralType:
          type: string
        available:
          type: boolean
      description: Value object to hold a list of site registers.

    SiteResource:
      type: object
      properties:
        available:
          type: boolean
          description: If the resource is available for use. If the resource goes offline FD will expect this to change in an PATCH request message.
          example: true
        id:
          type: string
          description: Unique identifier for the resource.
          readOnly: true
        name:
          type: string
          description: Name for the resource.
          example: Car Wash
        type:
          type: string
          description: Type identifier for the resource.
          example: Basic Wash
        description:
          type: string
          description: Description for the resource.
          example: Carwash Premium
        startAvailableTime:
          type: string
          description: Used to identify the start time that a resource (e.g. carwash) is available.
          format: date
          example: 12:00PM
        endAvailableTime:
          type: string
          description: Used to identify the end time that a resource (e.g. carwash) is available.
          format: date
          example: 12:00PM
        itemList:
          type: array
          items:
            $ref: '#/components/schemas/ItemCode'
        resourceId:
          type: string
          description: resource id.
          example: "831"
      description: Value object to hold site available resource.
      
    SitesSearchResult:
      type: object
      properties:
        pages:
          $ref: '#/components/schemas/PageLink'
        sites:
          type: array
          items:
            $ref: '#/components/schemas/SiteLink'
      description: This object contains site records for lat lag based request.

    SiteServices:
      type: object
      properties:
        mobilePayment:
          type: boolean
          description: Status of mobile payments at site - Available/Not-available
        customerToilets:
          type: boolean
          description: Status of toilets at site - Available/Not-available
        motorwaySite:
          type: boolean
          description: Status of motor way at site - Available/Not-available
        open24Hours:
          type: boolean
          description: Status of hrs of operation at site - Available/Not-available
        atm:
          type: boolean
          description: Status of atm feature at site - Available/Not-available
        hgv_pumps:
          type: boolean
          description: Status of hvg at site - Available/Not-available
        lpg:
          type: boolean
          description: Status of lpg feature at site - Available/Not-available
        supremeDiesel:
          type: boolean
          description: Status of supreme diesel at site - Available/Not-available
        supremeUnleaded:
          type: boolean
          description: Status of supreme unleaded-diesel at site - Available/Not-available
        adblue:
          type: boolean
        airTower:
          type: boolean
          description: Status of air tower feature at site - Available/Not-available
        foodService:
          type: boolean
          description: Status of food service at site - Available/Not-available
        carwash:
          type: boolean
          description: Status of car wash at site - Available/Not-available
        premiumCoffee:
          type: boolean
          description: Status of premium coffee at site - Available/Not-available
        jetWash:
          type: boolean
          description: Status of jet wash feature at site - Available/Not-available
        mobil1:
          type: boolean
        pointsOnFuel:
          type: boolean
          description: Status of points on fuel purchase feature at site - Available/Not-available
        pointsOnFuelAndShop:
          type: boolean
          description: Status of points on fuel and shop purchase feature at site -Available/Not-available
        tescoExpress:
          type: boolean
          description: Status of air tesco express  at site - Available/Not-available
        partialAuthAllowed:
          type: boolean
          description: Status of partial auth at site - Available/Not-available
      description: Value object to hold feature available at site.

    SiteSpecifications:
      type: object
      properties:
        siteTerminalId:
          type: string
          description: BuyPass ATL105 Terminal Id used in the settlement file.
        siteAvailable:
          type: boolean
          description: Indicator if the site is active.
        siteName:
          type: string
          description: Name of the site as defined as part of the onboarding process.
        welcomeMessage:
          type: string
          description: Message displayed on the mobile device upon site check in. The average length of this field should be around 100 characters to maintain visibility on various mobile profiles.
        hoursOfOperation:
          type: string
          description: Hrs of operation of site.
        languageCode:
          $ref: '#/components/schemas/LanguageCode'
        poiType:
          type: string
        siteAuthTimeOut:
          type: integer
          description: Time out configuration for a site/pump
        protocol:
          $ref: '#/components/schemas/Protocol'
        VATNumber:
          type: string
          description: VAT tax number for Merchant.
        brandedWholesaler:
          type: string
          description: Merchant bradded Wholesaler Id for promotion.
        loyaltyAvailable:
          type: boolean
          description: Indicates if site has loyalty available
      description: This contains site information.
      example:
        siteTerminalId: "45690"
        siteAvailable: true
        siteName: FD Test Site Dummy
        welcomeMessage: Welcome to petrol site
        hoursOfOperation: NA
        languageCode: en-US
        poiType: NA
        siteVendorId: SITE_DUMMY
        siteAuthTimeOut: 30
        protocol: CONNEXUS

    Venue:
      type: object
      properties:
        venueId:
          type: string
        venueName:
          type: string
        description:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        phone:
          $ref: '#/components/schemas/Phone'
        email:
          $ref: '#/components/schemas/Email'
        image:
          $ref: '#/components/schemas/Image'
      description: Venue overview

    VenueSection:
      type: object
      properties:
        venueSectionId:
          type: string
        venueSectionName:
          type: string
        description:
          type: string
        pickupLocationId:
          type: string
        inseatConcessionId:
          type: string
        venueSectionType:
          type: string
        rows:
          type: array
          items:
            $ref: '#/components/schemas/VenueRow'
      description: Venue section details

    VenueRow:
      type: object
      properties:
        venueRowid:
          type: string
        venueRowName:
          type: string
        seats:
          type: array
          items:
            type: string
      description: Venue row details

    VenueSuite:
      type: object
      properties:
        venueSuiteId:
          type: string
        venueSuiteName:
          type: string
        description:
          type: string
        merchantIds:
          type: array
          items:
            type: string
      description: Venue suite details

    VenueTable:
      type: object
      properties:
        venueTableId:
          type: string
        venueTableName:
          type: string
        description:
          type: string
        merchantIds:
          type: array
          items:
            type: string
      description: Venue table details

    VenuesSearchResult:
      type: object
      properties:
        pages:
          $ref: '#/components/schemas/PageLink'
        venues:
          type: array
          items:
            $ref: '#/components/schemas/Venue'
      description: This object contains venue records.

    VenuesSectionSearchResult:
      type: object
      properties:
        pages:
          $ref: '#/components/schemas/PageLink'
        venueSections:
          type: array
          items:
            $ref: '#/components/schemas/VenueSection'
      description: This object contains venue section records.

    VenuesSuiteSearchResult:
      type: object
      properties:
        pages:
          $ref: '#/components/schemas/PageLink'
        venueSuites:
          type: array
          items:
            $ref: '#/components/schemas/VenueSuite'
      description: This object contains venue suite records.

    VenuesTableSearchResult:
      type: object
      properties:
        pages:
          $ref: '#/components/schemas/PageLink'
        venueTables:
          type: array
          items:
            $ref: '#/components/schemas/VenueTable'
      description: This object contains venue table records.

    #-------------------------------------
    # Common Models
    #-------------------------------------
    DeviceInfo:
      required:
      - id
      - kind
      type: object
      properties:
        id:
          type: string
          description: Unique Id for the device. Value should not contain line feeds, carriage returns, tabs, leading or trailing spaces, or multiple spaces.
          example: 537edec8-d33e-4ee8-93a7-b9f61876950c
        kind:
          type: string
          description: Possible values are mobile, wearable, automobile, embedded,desktop, other.
          example: mobile
        details:
          title: deviceData
          minItems: 0
          uniqueItems: true
          type: array
          description: Device data information from multiple providers.
          items:
            type: object
            properties:
              provider:
                type: string
                description: Identifies the provider of the data and is often used when decrypting data on the server.
                example: InAuth
              dataCapture:
                type: object
                properties:
                  rawData:
                    type: string
                    description: Device capture - raw data blob
                    example: aaaaaXREUVZGRlFY...aMV
                  dataEventId:
                    type: string
                    description: Event identifier used map state on the server.
                    example: BB8E4E92...Fz1E063113
                  captureTime:
                    type: string
                    description: Device data capture time in Internet Date/Time format - yyyy-MM-dd'T'HH:mm:ss'Z'
                    format: date-time
                    example: 2016-04-16T16:06:05Z
                description: Device data captured as a bundle and transmitted as an encrypted and/or specifically formatted string.
              dataStatic:
                type: object
                properties:
                  os:
                    type: string
                    description: Device OS name
                    example: Android 5.1.1 Lollipop
                  osVersion:
                    type: string
                    description: Device OS version
                    example: 5.1.1 Lollipop
                  model:
                    type: string
                    description: Device model
                    example: XT1540
                  type:
                    type: string
                    description: Device type
                    example: Moto G
                description: Device static details
              dataDynamic:
                type: object
                properties:
                  latitude:
                    type: string
                    description: Device position - latitude at the time of the data event
                    example: 13.0827 N
                  longitude:
                    type: string
                    description: Device position - longitude at the time of the data event
                    example: 80.2707 E
                  ipAddress:
                    type: string
                    description: IP address
                    example: 172.27.37.221
                  captureTime:
                    type: string
                    description: Device data capture time in Internet Date/Time format - yyyy-MM-dd'T'HH:mm:ss'Z'
                    format: date-time
                    example: 2016-04-16T16:06:05Z
                description: Device location details
              dataApplication:
                type: object
                properties:
                  version:
                    type: string
                    description: Mobile application version.
                    format: sting
                    example: 1.0.0
                  name:
                    type: string
                    description: Mobile application name.
                    format: sting
                    example: application-name
                  country:
                    type: string
                    description: Mobile application store country.
                    format: sting
                    example: US
                description: Mobile application specific data
            description: Collection of device data
        additionalInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
      description: Request origin device details
      example:
        id: 537edec8-d33e-4ee8-93a7-b9f61876950c
        kind: mobile
        details:
        - provider: InAuth
          dataCapture:
            rawData: aaaaaXREUVZGRlFY...aMV
            dataEventId: BB8E4E92...Fz1E063113
            captureTime: 2016-04-16T16:06:05Z
          dataStatic:
            os: Android 5.1.1 Lollipop
            osVersion: 5.1.1 Lollipop
            model: XYX-1
            Type: Moto G
          dataDynamic:
            latitude: 13.0827 N
            longitude: 80.2707 E
            ipAddress: 172.27.37.221
            captureTime: 2016-04-16T16:06:05Z
        additionalInfo:
        - name: some-key
          value: some-value

    Error:
      type: object
      properties:
        code:
          type: string
          description: Uniquely identifies an error condition. Client applications need to read and handle errors based on this.
        message:
          type: string
          description: A generic description of the error condition.
        category:
          type: string
          description: The resource associated with the error condition.
        developerInfo:
          type: object
          properties:
            developerMessage:
              type: string
              description: An elaborative description of the error description.
            moreInfo:
              type: string
              description: Link to the error in Developer page.
            fieldError:
              type: array
              description: Detailed information about message format errors.
              items:
                type: object
                properties:
                  field:
                    type: string
                    description: The property or attribute associated with the error
                  message:
                    type: string
                    description: Information specific to a property or attribute.
          description: Information that needs to be understood by the client developers and should not be interpreted for application processing.
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        _links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
      description: Model for error messaging
      example:
        code: "40000"
        message: Example Error
        category: example
        developerInfo:
          developerMessage: Invalid Message format in request payload
          moreInfo: https://www.example.com/errors/40000
          fieldError:
          - field: example id
            message: exampleId is mandatory

    #-------------------------------------
    # ENUM Models
    #-------------------------------------
    LoyaltyType:
      type: string
      description: Identifier to indicate type of Loyalty program being registered.
      enum:
      - LOCAL
      - NATIONAL

    PetroBrand:
      type: string
      description: Indicator of fuel brand sold at the given site.
      enum:
      - ESSO
      - EXXONMOBIL
      - IOL
      - SUNOCO

    ProgramStatus:
      type: string
      description: Indicates if the given loyalty program is still active or not.
      enum:
      - ENABLED
      - DISABLED
      - CONTRACTED_ONLY

    Protocol:
      type: string
      description: supported specification for site.
      enum:
      - CONNECTORSWITCH
      - CONNEXUS
      - IFSF
      - NCR
      - CONNECTORSWITCH_ASYNC
      - CONNECTORSWITCH_UCOM
      - CONNECTORSWITCH_NOTIFY

    QuantityUOM:
      type: string
      description: Combined unit of measure for a POS sale.
      enum:
      - ml
      - cc
      - litre
      - fluidOunce
      - pint
      - quart
      - gallonUS
      - gallonUK
      - gram
      - kg
      - oz
      - lb
      - ea

  #-------------------------------------
  # Responses
  #-------------------------------------
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Conflict:
      description: Conflict - The requested operation conflicts with the current state of the identified resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Created:
      description: Resource created
      headers:
        Location:
          description: Location of newly created resource.
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Site'

    NoContent:
      description: The request succeeded but there’s really nothing to show.
      content: {}

    NotFound:
      description: Not Found - The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    OK:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Site'

    ServerError:
      description: An unexpected server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Unauthorized
      content: {}

  #-------------------------------------
  # Parameter Models
  #-------------------------------------
  parameters:
    AcceptLanguageParam:
      name: Accept-Language
      in: header
      description: The Accept-Language header contains information about the language preference of a user. This HTTP header is useful to multilingual sites for deciding the best language to serve to the client. i.e en-US,fr-CA
      schema:
        type: string

    ApiKeyParam:
      name: Api-Key
      in: header
      description: An API key is a string value passed by a client app to the API proxies. The key uniquely identifies the client app.
      required: true
      schema:
        type: string

    AuthorizationParam:
      name: Authorization
      in: header
      description: Authorization information for the request. Format- `HMAC {hmacToken}`
      required: true
      schema:
        type: string

    ClientTokenParam:
      name: Client-Token
      in: header
      description: Used to pass the original client OAuth token information given in a client-credentials flow.  This field is only used when the server is making the request and needs to link the transaction to a specific client.  Format- `Bearer {access_token}`
      schema:
        type: string

    ClientRequestIdParam:
      name: Client-Request-Id
      in: header
      description: Contains a unique ID generated by the client that can be used for enforcing idempotency on POST actions. POSTs are inherently non-idempotent and submitting the exact same request multiple times would create duplicate resources. Note:- Omitting this header increases the risk of duplicate transactions, which for payments could cost the client issues like double-billing.
      required: true
      schema:
        type: string

    SubMerchantIdParam:
      name: Sub-Merchant-Id
      in: header
      description: Sub Merchant Id contains information about the merchant identifier
      schema:
        type: string

    IncludeAllParam:
      name: includeAll
      in: query
      description: Flag to determine whether all details are to be included in the Site response.
      schema:
        type: boolean

    LatLongParam:
      name: latlng
      in: query
      description: Latitude and longitude of the location.
      allowEmptyValue: false
      schema:
        type: string

    PageNumberParam:
      name: pageNo
      in: query
      description: Page number
      schema:
        type: integer

    PageSizeParam:
      name: pageSize
      in: query
      description: Max number of records per page. Supported values - 5, 10, 15, 20, 25 ..50
      allowEmptyValue: false
      schema:
        type: integer

    RadiusParam:
      name: radius
      in: query
      description: Radius to define geo-fencing.
      allowEmptyValue: false
      schema:
        type: string

    RegionParam:
      name: region
      in: query
      description: Geographic area of given location, i.e a specific city, town, county
      schema:
        type: string

    RetailerPartnerIdParam:
      name: Retailer-Partner-Id
      in: header
      description: Retailer partner identification for marketplace
      schema:
        type: string

    SearchKeywordsParam:
      name: searchKeywords
      in: query
      description: Space delimited list of words for secondary filtering
      schema:
        type: string

    ServiceAreaParam:
      name: serviceArea
      in: query
      description: Service area for filtering search
      allowEmptyValue: false
      schema:
        type: string

    ServicePartnerParam:
      name: servicePartner
      in: query
      description: Service partner for filtering search
      allowEmptyValue: false
      schema:
        type: string

    SiteLocationIdParam:
      name: siteLocationId
      in: path
      description: Unique identifier to locate site.
      required: true
      schema:
        type: string

    TimestampParam:
      name: Timestamp
      in: header
      description: Epoch timestamp in the request initiating system
      required: true
      schema:
        type: string

    UnitOfMeasurementParam:
      name: uom
      in: query
      description: Unit to measure geo-fencing - km, miles.
      allowEmptyValue: false
      schema:
        type: string

    TypeParam:
      name: type
      in: query
      description: This is to identify different types for site check-in/siteUpdate request. Example - type=qrcode for site check-in in EMEA type=site for site check-in in US. For GeoLocationSiteUpdate, type=geoSite
      allowEmptyValue: false
      schema:
        type: string

    VenueCategoryParam:
      name: venueCategory
      in: query
      description: Type of venue, i.e sports, hotels, conference
      schema:
        type: string

    VenueIdParam:
      name: venueId
      in: path
      description: Venue identifier
      required: true
      schema:
        type: string

  examples:
    GetVenueInformation:
      value:
        “pages”:
          “firstPage”: true
          “lastPage”: true
          “currentPage”: 1
          “currentPageRecords”: 1
          “totalPages”: 1
          “sortOrder”: “ASC”
        “venues”:
        - “venueId”: “1421”
          “venueName”: “Partner Test Venue”
          “address”:
            “locality”: “Austin”
            “region”: “TX”
          “image”:
            “srcUrl”: “http://bypass-logos-integration.s3.amazonaws.com/logos/65a0f6dd1a717fabf2ad3df4d4b842cbf8b706c9/original.PNG”

    GetVenueSectionInformation:
      value:
        “venueSections”:
        - “venueSectionId”: “12883.0”
          “venueSectionName”: “Section 101”
          “pickupLocationId”: “32898”
          “venueSectionType”: “Section”
          “rows”:
          - “venueRowid”: “55971”
            “venueRowName”: “A”
            “seats”:
            - “1”
            - “2”
            - “3”
            - “4”
            - “5”
            - “6”
            - “7”
            - “8”
            - “9”
            - “10”
          - “venueRowid”: “55972”
            “venueRowName”: “B”
            “seats”:
            - “1”
            - “2”
            - “3”
            - “4”
            - “5”
            - “6”
            - “7”
            - “8”
            - “9”
            - “10”
            - “11”
            - “12”
            - “13”
            - “14”
            - “15”
            - “16”
            - “17”
            - “18”
            - “19”
            - “20”
            - “21”
            - “22”
            - “23”
            - “24”
            - “25”
          - “venueRowid”: “55973”
            “venueRowName”: “C”
            “seats”:
            - “1”
            - “2”
            - “3”
            - “4”
            - “5”
            - “6”
            - “7”
            - “8”
            - “9”
            - “10”
            - “11”
            - “12”
            - “13”
            - “14”
            - “15”
            - “16”
            - “17”
            - “18”


    GetVenueSuites:
      value:
        “venueSuites”:
        - “venueSuiteId”: “12887”
          “venueSuiteName”: “Suite 10”
          “description”: “This is a description.”
          “merchantIds”:
          - “32902”
        - “venueSuiteId”: “12888”
          “venueSuiteName”: “Suite 20”
          “merchantIds”:
          - “32902”
        - “venueSuiteId”: “12889”
          “venueSuiteName”: “Suite 30”
          “description”: “Test Description”
          “merchantIds”:
          - “32902”

    GetVenueTables:
      value:
        “venueTables”:
        - “venueTableId”: “12890”
          “venueTableName”: “Table 1”
          “merchantIds”:
          - “32901”
        - “venueTableId”: “12891”
          “venueTableName”: “Table 2”
          “merchantIds”:
          - “32901”
        - “venueTableId”: “12892”
          “venueTableName”: “Table 3”
          “merchantIds”:
          - “32901”
        - “venueTableId”: “12893”
          “venueTableName”: “Table 4”
          “merchantIds”:
          - “32901”
        - “venueTableId”: “12894”
          “venueTableName”: “Table 5”
          “description”: “Test Description”
          “merchantIds”:
          - “32901”

    GetSitesByGeoCoordinates:
      value:
        sites:
        - siteInfo:
            geolocation:
              siteId: '8002284101'
              latitude: '33.02159'
              longitude: '-85.08112'
              siteAddress:
                streetAddress: Test
                locality: LAGRANGE
                region: GA
                postalCode: 30240-1400
              siteName: D&D - 2255 WEST POINT ROAD
              status: ACTIVE
              retailerPartnerId: Test
            additionalInfoJson: '{"hoursOfOperation":{"open24Hours":false},"fuelTypes":{"diesel":"false","keroseneFuel":"false"},"amenities":{"atm":"false","carWash":"false","restRooms":"false","open24Hours":true,"operatingBay":"false"},"paymentMethods":{"mobilePayments":"false"},"loyaltyAndDiscounts":{"goRewards":"false","superValu":"false","priceChopper":"false","fuelPerks":"false","redners":"false","weis":"false"}}'
        - siteInfo:
            geolocation:
              siteId: '8002288301'
              latitude: '33.53721'
              longitude: '-85.26458'
              siteAddress:
                streetAddress: Test
                locality: BOWDON
                region: GA
                postalCode: 30108-1317
              siteName: Test
              status: ACTIVE
              retailerPartnerId: Test
            additionalInfoJson: '{"hoursOfOperation":{"open24Hours":false},"fuelTypes":{"diesel":"false","keroseneFuel":"false"},"amenities":{"atm":"false","carWash":"false","restRooms":"false","open24Hours":true,"operatingBay":"false"},"paymentMethods":{"mobilePayments":"false"},"loyaltyAndDiscounts":{"goRewards":"false","superValu":"false","priceChopper":"false","fuelPerks":"false","redners":"false","weis":"false"}}'
        pages:
          firstPage: true
          lastPage: false
          currentPage: 0
          currentPageRecords: 2
          totalPages: 39
          totalRecords: 77
          links:
          - href: https://api-qa.payeezy.com/ucom/v1/geolocation/sites?latlng=33.449985%2C-84.324904&radius=100&uom=km&pageNo=0&pageSize=2
            method: GET
            rel: current.page
          - href: https://api-qa.payeezy.com/ucom/v1/geolocation/sites?latlng=33.449985%2C-84.324904&radius=100&uom=km&pageSize=2&pageNo=1
            method: GET
            rel: next.page

    GetSiteInformationBySiteLocationID:
      value:
        siteId: 8a34843c529acd1a0152b2310eb50a27
        siteSpecifications:
          siteAvailable: true
          siteName: Test
          welcomeMessage: WELCOME TO Test
          languageCode: en-US
          siteVendorId: Test
          siteAuthTimeOut: 30
          protocol: CS
          protocolVersion: '2.20'
        location:
          locationId: '9682511'
          longitude: 0
          latitude: 0
          siteAddress:
            address:
              type: work
              streetAddress: Test
              locality: Milwaukee
              region: WI
              postalCode: '53204'
              country: USA
              primary: true
            phone:
              value: 414-220-4380
              type: work
              primary: true
            email:
              type: work
              value: usgilbarcosite@fd.com
              primary: true
        resources:
        - available: true
          id: 8a341457708a869801709a8ce88e3b8b
          name: Carwash
          type: Carwash
          description: Carwash
          resourceId: Carwash
          itemList:
          - posCodeFormat: plu
            posCode: '00000000026017'
            posCodeModifier: '000'
            itemName: EXPRESS/$7.00
            itemDescription: EXPRESS/$7.00
            itemPrice: '6.63'
            displayOrder: 0
            discountedPrice: 0
            amount: 0
            quantity: 0
          - posCodeFormat: plu
            posCode: '00000000026024'
            posCodeModifier: '000'
            itemName: DELUXE/$9.00
            itemDescription: DELUXE/$9.00
            itemPrice: '8.52'
            displayOrder: 0
            discountedPrice: 0
            amount: 0
            quantity: 0
          - posCodeFormat: plu
            posCode: '00000000026031'
            posCodeModifier: '000'
            itemName: ULTIMATE/$11.00
            itemDescription: ULTIMATE/$11.00
            itemPrice: '10.42'
            displayOrder: 0
            discountedPrice: 0
            amount: 0
            quantity: 0
          - posCodeFormat: plu
            posCode: '00000000026048'
            posCodeModifier: '000'
            itemName: WORKS/$15.00
            itemDescription: WORKS/$15.00
            itemPrice: '14.2'
            displayOrder: 0
            discountedPrice: 0
            amount: 0
            quantity: 0
        registers:
        - terminalID: '456'
          terminalName: Site 1
          peripheralType: Ptype
          available: true
        siteLoyalty:
        - loyaltyProgram:
            hostProgramId: TEST_HOST_PROGRAM
            programName: EM Rewards
            programProvider: Test
            loyaltyType: LOCAL
            status: ENABLED
            programId: '844'
        - loyaltyProgram:
            hostProgramId: TEST_HOST_PROGRAM
            programName: Plenti
            programProvider: Test
            loyaltyType: LOCAL
            status: ENABLED
            programId: '946'
        petro:
          pumpList:
          - pumpNumber: 19
            serviceLevelCode: S
            fuelAmount: 0
            type: fuel
            gradeList:
            - description: Regular
              available: true
              price: 2.199
              gradeId: '1'
            - description: Special
              available: true
              price: 2.599
              gradeId: '2'
            - description: Super+
              available: true
              price: 3.099
              gradeId: '3'
            available: true
          - pumpNumber: 2
            serviceLevelCode: S
            fuelAmount: 0
            type: fuel
            gradeList:
            - description: Regular
              available: true
              price: 2.199
              gradeId: '1'
            - description: Special
              available: true
              price: 2.599
              gradeId: '2'
            - description: Super+
              available: true
              price: 3.099
              gradeId: '3'
            - description: DIESEL
              available: true
              price: 2.899
              gradeId: '7'
            available: true
          - pumpNumber: 3
            serviceLevelCode: S
            fuelAmount: 0
            type: fuel
            gradeList:
            - description: Regular
              available: true
              price: 2.199
              gradeId: '1'
            - description: Special
              available: true
              price: 2.599
              gradeId: '2'
            - description: Super+
              available: true
              price: 3.099
              gradeId: '3'
            - description: DIESEL
              available: true
              price: 2.899
              gradeId: '7'
            available: true
        siteConfiguration:
        - attributeName: TERMINAL_NAME
          attributeValue: MO55103744002
        - attributeName: VERSION_SUPPORTED
          attributeValue: '2.20'
        - attributeName: PAYMENT_TRANSACTION_TYPE
          attributeValue: ABOVE_SITE
        - attributeName: PRE_AUTH_AMOUNT
          attributeValue: '100'

