openapi: 3.0.1
info:
  title: uCom Prepaid Account Services
  description: Services related to prepaid cards such as creating a new prepaid card,
    balance check, reloading funds, balance transfer etc.
  version: 0.2.2
servers:
- url: https://int.api.firstdata.com/ucom
tags:
- name: balance
  description: Operations and details about prepaid balance.
- name: purchase
  description: Operations and details about prepaid purchase.
- name: void
  description: Operations and details about prepaid void.
- name: reload
  description: Operations and details about prepaid reload.
- name: merge
  description: Operations and details about prepaid merge.
- name: transaction
  description: Operations and details about prepaid merge.
paths:
  /v1/prepaids/balances:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Retrieve pre-paid balance
      tags:
      - balance
      description: Service to retrieve the balance of an anonymous Prepaid Card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
        204:
          $ref: '#/parameters/LocationParam'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/aggregate-balances:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Retrieve balance of anonymous card
      tags:
      - balance
      description: Service to retrieve the balance of an anonymous Prepaid Card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAggregateRequest'
        required: true
      responses:
        200:
          description: Prepaid balance response based on customer id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateBalanceTransactionInfo'
        204:
          $ref: '#/parameters/LocationParam'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/balances/{requestId}:
    get:
      x-group-name: Pre Paid Services
      x-proxy-name: Retrieve balance by identifier
      tags:
      - balance
      description: Service to retrieve the balance based on request identifier.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: requestId
        in: path
        description: Unique identifier for the request.
        required: true
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      responses:
        200:
          description: Prepaid balance response based on request id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidBalanceTransactionInfo'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/prepaids/purchases:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: create pre paid card
      tags:
      - purchase
      description: Service to create a new Prepaid card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        202:
          description: Partially Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/purchases:
    get:
      x-group-name: Pre Paid Services
      x-proxy-name: create pre paid card
      tags:
      - purchase
      description: Service to create a new Prepaid card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: clientRequestId
        in: query
        description: Id used in the previous transaction.
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/prepaids/multi-purchases:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: create new prepaid cards
      tags:
      - purchase
      description: Service to create new Prepaid cards.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiAccountRequest'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiPurchase'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        425:
          description: Request is too early to process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: deduct/cashout pre paid balance
      tags:
      - void
      description: Service to deduct/cashout prepaid account.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/void:
    get:
      x-group-name: Pre Paid Services
      x-proxy-name: Service to deduct/cashout prepaid account
      tags:
      - void
      description: Service to deduct/cashout prepaid account.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: clientRequestId
        in: query
        description: Id used in the previous transaction.
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/prepaids/multi-void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Service to deduct/cashout prepaid account
      tags:
      - void
      description: Service to deduct/cashout prepaid accounts.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: clientRequestId
        in: query
        description: Id used in the previous transaction.
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        425:
          description: Request is too early to process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/purchases/{fdTransactionId}:
    patch:
      x-group-name: Pre Paid Services
      x-proxy-name: Patch prepaid account
      tags:
      - purchase
      description: Service to patch a Prepaid card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  $ref: '#/components/schemas/UpdateActionType'
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
        required: true
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/purchases/{fdTransactionId}/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a purchase transaction.
      tags:
      - purchase
      summary: Void of a purchase transaction.
      description: Void of a purchase transaction.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/purchases/{fdTransactionId}/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a purchase transaction.
      tags:
      - purchase
      summary: Void of a purchase transaction.
      description: Void of a purchase transaction.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/purchases/{fdParentTransactionId}/multi-void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a purchase transaction.
      tags:
      - purchase
      summary: Void of purchase transactions.
      description: Void of purchase transactions.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdParentTransactionId
        in: path
        description: Unique identifier provided for a parent transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/reloads:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Re-Load prepaid card
      tags:
      - reload
      description: Service to load fund into a vaulted Prepaid Card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadFundsRequest'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        202:
          description: Partially Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/reloads:
    get:
      x-group-name: Pre Paid Services
      x-proxy-name: Load funds in a vaulted prepaid card
      tags:
      - reload
      description: Service to load fund into a vaulted Prepaid Card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: clientRequestId
        in: query
        description: Id used in the previous transaction.
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/prepaids/multi-reloads:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Load fundsto as vaulted prepaid card
      tags:
      - reload
      description: Service to load fund into a vaulted Prepaid Card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadMultiFundsRequest'
        required: true
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadMultiFundsPurchase'
        207:
          description: Multiple Status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadMultiFundsPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        425:
          description: Request is too early to process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/reloads/{fdTransactionId}:
    patch:
      x-group-name: Pre Paid Services
      x-proxy-name: Load funds into a vaulted prepaid card
      tags:
      - reload
      description: Service to load fund into a vaulted Prepaid Card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  $ref: '#/components/schemas/UpdateActionType'
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
        required: true
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/reloads/{fdTransactionId}/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a reoaded prepaid card
      tags:
      - reload
      summary: Void of a reload transaction.
      description: Void of a reload transaction.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/reloads/{fdTransactionId}/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void a reload transaction on prepaid card
      tags:
      - reload
      summary: Void of a reload transaction.
      description: Void of a reload transaction.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/reloads/{fdParentTransactionId}/multi-void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a reloaded transaction
      tags:
      - reload
      summary: Void of reload transactions.
      description: Void of reload transactions.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdParentTransactionId
        in: path
        description: Unique identifier provided for a parent transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        425:
          description: Request is too early to process.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/merges:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Merge balance from one vaulted prepaid card to another
      tags:
      - merge
      description: Service to merge balance from one vaulted prepaid card to another
        vaulted prepaid card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeAccountsRequest'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeBalanceTransaction'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/merges:
    get:
      x-group-name: Pre Paid Services
      x-proxy-name: Merge balance from one vaulted prepaid card to another
      tags:
      - merge
      description: Service to merge balance from one vaulted prepaid card to another
        vaulted prepaid card.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: clientRequestId
        in: query
        description: Id used in the previous transaction.
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeBalanceTransaction'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/prepaids/merges/{fdTransactionId}/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a merge transaction
      tags:
      - merge
      summary: Void of a merge transaction.
      description: Void of a merge transaction.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v2/prepaids/merges/{fdTransactionId}/void:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Void of a merge transaction
      tags:
      - merge
      summary: Void of a merge transaction.
      description: Void of a merge transaction.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: fdTransactionId
        in: path
        description: Unique identifier provided for a purchase/sale/merge transaction.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        404:
          description: Not Found - The requested resource doesn't exist.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/transactions:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Retrieve transactions on a vaulted Prepaid Card
      tags:
      - transaction
      description: Service to retrieve transactions on a vaulted Prepaid Card from
        the host.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: TransactionList
                type: array
                items:
                  $ref: '#/components/schemas/PrepaidTransaction'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        409:
          description: Conflict - The requested operation conflicts with the current
            state of the identified resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
  /v1/prepaids/txn-history:
    post:
      x-group-name: Pre Paid Services
      x-proxy-name: Retrieve transactions on a vaulted Prepaid Card
      tags:
      - transaction
      description: Service to retrieve transactions on a vaulted Prepaid Card from
        the host.
      parameters:
      - name: Api-Key
        in: header
        description: An API key is a string value passed by a client app to the API
          proxies.The key uniquely identifies the client app.
        required: true
        schema:
          type: string
      - name: Timestamp
        in: header
        description: Epoch timestamp in the request initiating system
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Authorization information for the request. Format- `HMAC {hmacToken}`
        required: true
        schema:
          type: string
      - name: Client-Token
        in: header
        description: Used to pass the original client OAuth token information given
          in a client-credentials flow.  This field is only used when the server is
          making the request and needs to link the transaction to a specific client.  Format-
          `Bearer {access_token}`
        schema:
          type: string
      - name: Client-Request-Id
        in: header
        description: Contains a unique ID generated by the client that can be used
          for enforcing idempotency on POST actions. POSTs are inherently non-idempotent
          and submitting the exact same request multiple times would create duplicate
          resources. Note:- Omitting this header increases the risk of duplicate transactions,
          which for payments could cost the client issues like double-billing.
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: The Accept-Language header contains information about the language
          preference of a user. This HTTP header is useful to multilingual sites for
          deciding the best language to serve to the client. i.e en-US,fr-CA
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page number
        schema:
          type: integer
      - name: pageSize
        in: query
        description: Max number of records per page. Supported values - 5, 10, 15,
          20, 25 ..50
        allowEmptyValue: false
        schema:
          type: integer
      - name: startDate
        in: query
        description: Date from which transactions are to be retrieved. Format YYYYMMDD
        schema:
          type: string
          format: date-time
      - name: endDate
        in: query
        description: Date upto which transactions are to be retrieved. Format YYYYMMDD
        schema:
          type: string
          format: date-time
      - name: Sub-Merchant-Id
        in: header
        description: Sub Merchant Id contains information about the merchant identifier
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidTxnSearchResult'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        401:
          description: Unauthorized
          content: {}
        500:
          description: An unexpected server error occured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codegen-request-body-name: payload
components:
  schemas:
    LoadFundsRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/LoadFundsPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Reload a Prepaid Account Request
    LoadMultiFundsRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/LoadFundsPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Reload a Prepaid Account Requests
    MergeAccountsRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/MergeBalanceTransaction'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Merge a Accounts Request
    PrepaidAggregateRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        groupNames:
          minItems: 0
          type: array
          items:
            type: string
        transaction:
          $ref: '#/components/schemas/PrepaidPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Prepaid Aggregate Request
    PrepaidAccountRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/PrepaidPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase a Prepaid Account Request
    PrepaidMultiAccountRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase Multiple Prepaid Account Request
    PrepaidVoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/PrepaidVoid'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase a Prepaid Account Request
    PrepaidMultiVoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        operationType:
          $ref: '#/components/schemas/OperationType'
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidVoid'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase Multiple Prepaid Void Request
    VoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
    ACH:
      type: object
      properties:
        accountNumber:
          type: string
          description: Unique number identifying the ACH account provided by Financial
            institution.
          example: "92658250156"
        routingNumber:
          type: string
          description: Number to identify the financial institution
          example: "999999999"
        secCode:
          type: string
          description: SEC Code is optional data, It is specifically required for
            ACH account which is ruled by NACHA compliance.
        cardNumber:
          type: string
          description: ACH Card number, can only be sent when vaulting an account.  This
            field will NOT be present in responses.
          example: "9111111111111111"
        cardType:
          $ref: '#/components/schemas/AchCardType'
        securityCode:
          type: string
          description: Code to validate the ACH account, like micro deposit or security
            code.
          example: "278356"
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
          example: "1111"
        enrollmentStatus:
          $ref: '#/components/schemas/AchEnrollmentStatus'
        enrollmentSubStatuses:
          type: array
          items:
            $ref: '#/components/schemas/AchEnrollmentSubStatus'
        accountType:
          $ref: '#/components/schemas/AchAccountType'
        bankName:
          type: string
          description: Name of the bank associated with the ACH account
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        assetProvider:
          $ref: '#/components/schemas/AssetProvider'
      description: Information about an ACH account
    Address:
      type: object
      properties:
        type:
          type: string
          description: Canonical type values of "work", "home", and "other".
        streetAddress:
          type: string
          description: The full street address component, which may include house
            number, street name, P.O. box, and multi-line extended street address
            information.
        locality:
          type: string
          description: The city or locality component.
        region:
          type: string
          description: The state or region component.
        postalCode:
          type: string
          description: The zip code or postal code component.
        country:
          type: string
          description: The country name component.  When specified, the value MUST
            be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden
            are "US" and "SE", respectively.
        formatted:
          type: string
          description: The full mailing address, formatted for display or use with
            a mailing label.
        primary:
          type: boolean
          description: Indicates if this is the default address for the associated
            resource. It only has meaning when used in a set or array of addresses.
      description: A physical mailing address for this user.
      example:
        type: work
        streetAddress: 100 Universal City Plaza
        locality: Hollywood
        region: CA
        postalCode: "91608"
        country: US
        formatted: |-
          100 Universal City Plaza
          Hollywood, CA 91608 US
        primary: true
    AmazonPay:
      type: object
      properties:
        token:
          type: string
          example: 292bb6b886fc4446894f878b7e32bd5e
        chargeId:
          type: string
          example: 73883992djj39939djj929992jj08838
        chargeReferenceId:
          type: string
          example: 8jdw838dhhskk9299299299ueuuue838
        credit:
          $ref: '#/components/schemas/Credit'
    AndroidPay:
      type: object
      properties:
        data:
          type: string
          example: 3CguW5ecfTzO...03d
        signature:
          type: string
          example: MIAGCSqGSIb......AAAA==
        decryptAlias:
          type: string
          description: field of the public key certificate.
          example: oslo.com.xxx.Prod_mer
        dPanLast4:
          type: string
          example: "9876"
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        header:
          type: object
          properties:
            ephemeralPublicKey:
              type: string
              example: MFkwEw...03d
            publicKeyHash:
              type: string
              example: +vbONw...IM=
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
    ApplePay:
      type: object
      properties:
        version:
          type: string
          example: EC_v1
        developerEmail:
          type: string
        signature:
          type: string
          example: MIAGCSqGSIb......AAAA==
        decryptAlias:
          type: string
          description: field of the public key certificate.
          example: oslo.com.xxx.Prod_mer
        data:
          type: string
          example: 3CguW5ecfTz...Yuhw=
        applicationData:
          type: string
          example: VEVTVA==
        dPanLast4:
          type: string
          example: "9876"
        bin:
          type: string
        eciIndicator:
          type: string
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        panType:
          type: string
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        header:
          type: object
          properties:
            applicationDataHash:
              type: string
            ephemeralPublicKey:
              type: string
              example: MFkwEwYHKoZIzj0CIKoZIz.....NBQQ==
            publicKeyHash:
              type: string
              example: +vbONwRlVqJX0........
            transactionId:
              type: string
              example: 3827c5a02638.....34d50
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
    Authorization:
      type: object
      properties:
        authorizationId:
          type: string
          description: Unique identifier for the payment authorization.
          example: 8a34843d4f2acc91014f2dc1e85e0122
        transactionTime:
          type: string
          description: Transaction date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
      description: Information related to the authorization transaction on the source
        card.
    AggregateBalanceTransactionInfo:
      type: object
      properties:
        totalBalance:
          type: number
          description: sum of prepaid card in lower denomination of the currency.
        groupBalances:
          type: array
          items:
            $ref: '#/components/schemas/GroupPrepaidBalanceInfo'
      description: Prepaid balance transaction response.
    AssetProvider:
      type: object
      properties:
        providerName:
          type: string
          example: coinbase
    BalanceInfo:
      required:
      - currencyCode
      - currentBalance
      type: object
      properties:
        currentBalance:
          type: number
          description: The current balance of prepaid card in lower denomination of
            the currency.
        beginBalance:
          type: number
[...]
