#-------------------------------------
# Document Change Log
# 0.2.3
#     - Added tokens reference in the Credit
#     - Added sweep and deduct API's
# 0.2.2
#     - Added new V2 endpoints for void transactions
#     - Added new V2 endpoints for multiple transaction calls
# 0.2.1
#     - Added Walmart pay as fundingSource
#     - Added SEC code for ACH
#     - Added EBT as funding source
#     - Added Merchant id as header field
#     - Added asset provider field in the ACH
# 0.2.0
#     - Added 'OTHER' CreditCardType
#     - Added fields in ThreeDSecure object
#     - Added Price tier in POSItem
#     - Added PAN type and BIN
#     - Added Expiry Date to InApp entities
#     - Added Developer Email in ApplePay/GooglePay/SamsungPay objects
#     - Added ECIIndicator in ApplePay/GooglePay/SamsungPay objects
#     - Added local payment methods for Ideal and Bancontact
# 0.1.9
#     - Updated PriceAdjustment to add maxQuantity
#     - Added OfferStatus in the PriceAdjustments
#     - Added washcodes under POSItem
#     - Added dynamic descriptors API model
#     - Added external customer id
# 0.1.8
#     - Added 3ds web support
#     - Added new API for prepaid transaction history with pagination
#     - Added account type for ACH
# 0.1.7
#     - Added credit in Paypal object
#     - Added enrollment status and bank name in the ACH object
#     - Added Vipps as a funding source.
#     - Added new API to retrieve balance based on request id
#     - Updated PriceAdjustment as list under POSItem
#     - Added 3ds challenge transaction expiry date time in ThreeDSecure
# 0.1.6
#     - No change.
#     - Added SecurityCode in vaulted Account
#     - Added VAULTED_ACCOUNT as AccountType
#     - Added Accept-Language header field
#     - Added PurchaseInfo in the PrepaidTransaction, deprecated orderId from the parent object
# 0.1.5
#     - Added Link in the Error object.
#     - Added Amazon Pay funding source
#     - acsSignedContent and CardType in threeDSecureInfo object
#     - Added altMerchantId in the PrepaidTransaction object
#     - Added billing phone in Credit,ApplePay, GooglePay, SamsungPay objects
# 0.1.4
#     - Added AccountType and AccountStatus entities under VaultedAccount
#     - Added ACH under funding source.
#     - Added Venmo under funding source.
#     - Added PATCH operation on purchase and reload transactions
#     - Added ThreeDSecure object for purchase and reload transactions
# 0.1.3
#     - Adding NVP with valueAsList
#     - Added 'billingAddress' element in 'AndroidPay', 'ApplePay', 'GooglePay' and 'SamsungPay'
#     - update in DeviceInfo.
# 0.1.2
#   - No change.
# 0.1.1
#   - Added 'token' attribute to 'ApplePay' & 'AndroidPay'
#   - Added 'cardType' attribute in 'ApplePay'
#   - Added 'cardType', 'dPanLast4' attribute in 'AndroidPay', 'GooglePay' and 'SamsungPay'
#   - Added 'id' attribute to Link
#   - Added 'Client-Request-Id' header to Reload api
#   - Added 'approvedAmount' attribute to FundingInfo
#   - Modified Http method type from GET to POST for prepaid balance and transactions APIs.
# 0.1.0
#   - Added 'googlePay' as 'fundingSource'
#   - Added client-token in the header field
# 0.0.9
#   - Added cardSubType attribute to Credit entity.
# 0.0.8
#     - No change.
# 0.0.7
#   - Updated ReferenceToken to have more accurate attribute names, removed use value
#   - Cleaned up examples in the models
# 0.0.6
#   - Updated to use ReferenceToken model
# 0.0.5
#     - No change.
# 0.0.4
#     - No change.
# 0.0.3
#     - No change.
# 0.0.2
#     - Added 'osVersion' attribute to 'DeviceInfo' object.
# 0.0.1
#     - Initial Version
#-------------------------------------

openapi: 3.0.1
info:
  title: uCom Prepaid Account Services
  description: Services related to prepaid cards such as creating a new prepaid card, balance check, reloading funds, balance transfer etc.
  version: 0.2.3
servers:
- url: https://int.api.firstdata.com/ucom
tags:
- name: balance
  description: Operations and details about prepaid balance.
- name: purchase
  description: Operations and details about prepaid purchase.
- name: void
  description: Operations and details about prepaid void.
- name: reload
  description: Operations and details about prepaid reload.
- name: merge
  description: Operations and details about prepaid merge.
- name: transaction
  description: Operations and details about prepaid merge.
paths:
  /v1/prepaids/balances:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Get Prepaid Card Balance
      tags:
      - balance
      description: This service retrieves the balance of an anonymous prepaid card.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
            examples:
              Vaulted Card: {summary: Request with vaulted card, $ref: '#/components/examples/VaultedCardBalanceRequest'}
              Plain Card: {summary: Request with plain card, $ref: '#/components/examples/PlainCardBalanceRequest'}
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
              examples:
                Vaulted Card: {summary: Balance response for vaulted card, $ref: '#/components/examples/VaultedCardBalanceResponse'}
                Plain Card: {summary: Balance response for vaulted card, $ref: '#/components/examples/PlainCardBalanceResponse'}

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/ServerError'
        204:
          $ref: '#/components/responses/NoContent'

  /v1/prepaids/aggregate-balances:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Get Aggregated Balance for Multiple Prepaid Cards
      tags:
      - balance
      description: This service retrieves the aggregated balance of anonymous prepaid cards.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:

        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAggregateRequest'
            examples:
              Vaulted Card: {summary: Request with vaulted card, $ref: '#/components/examples/AggregateBalanceMerchantFundedRequest'}


        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateBalanceTransactionInfo'
              examples:
                Vaulted Card: {summary: Response with vaulted card, $ref: '#/components/examples/AggregateBalanceMerchantFundedResponse'}

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/ServerError'
        204:
          $ref: '#/components/responses/NoContent'

  /v1/prepaids/purchases:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Purchase a New Prepaid Card
      tags:
      - purchase
      description: Purchase a new prepaid card
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
            examples:
              Merchant Funded: {summary: Request with Merchant Funded, $ref: '#/components/examples/MerchantFundedPurchaseRequest'}
              Credit Card: {summary: Request with credit card, $ref: '#/components/examples/CreditCardPurchaseRequest'}
              Vaulted Card: {summary: Request with vaulted card, $ref: '#/components/examples/VaultedCardPurchaseRequest'}
              Apple Pay: {summary: Request with Apple Pay, $ref: '#/components/examples/ApplePayPurchaseRequest'}
              Google Pay: {summary: Request with Google Pay, $ref: '#/components/examples/GooglePayPurchaseRequest'}
              Samsung Pay: {summary: Request with Samsung pay, $ref: '#/components/examples/SamsungPayPurchaseRequest'}
              PLCC: {summary: Request with PLCC, $ref: '#/components/examples/PLCCPurchaseRequest'}
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
              examples:
                Credit Card:
                  summary: Purchase Prepaid card with credit Card Response
                  $ref: '#/components/examples/CreditCardPurchaseResponse'
                Vaulted Card:
                  summary: Purchase Prepaid card with Vaulted Card response
                  $ref: '#/components/examples/VaultedCardPurchaseResponse'
                Apple Pay:
                  summary: Purchase prepaid card with apple pay response
                  $ref: '#/components/examples/ApplePayPurchaseResponse'
                Google Pay:
                  summary: Purchase prepaid card with google pay response
                  $ref: '#/components/examples/GooglePayPurchaseResponse'
                Samsung Pay:
                  summary: Purchase prepaid card with samsung pay response
                  $ref: '#/components/examples/SamsungPayPurchaseResponse'
                PLCC:
                  summary: Purchase prepaid card with PLCC response
                  $ref: '#/components/examples/PLCCPurchaseResponse'
        202:
          description: Partially Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/purchases:
    get:
      x-group-name: Prepaid Services
      x-proxy-name: Get Status of Prepaid Card Purchase by clientRequestId
      tags:
      - purchase
      description: Get Status of prepaid card purchase transaction by clientRequestId
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/multi-purchases:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Purchase Multiple Prepaid Cards
      tags:
      - purchase
      description: Purchase Multiple Prepaid Cards
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiAccountRequest'
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiPurchase'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Void of Any Prepaid Card Transaction
      tags:
      - void
      description: Void of any prepaid card transaction
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/void:
    get:
      x-group-name: Prepaid Services
      x-proxy-name: Get status of Void Prepaid Transaction
      tags:
      - void
      description: This service is to get status of void prepaid transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/multi-void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name:  Cancel multiple prepaid card transactions
      tags:
      - void
      description: Multiple prepaid card transactions are voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/sweeps:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Sweep a Prepaid Card Balance
      tags:
      - sweep
      description: Service to sweep a prepaid card balance
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidSweepRequest'
        required: true
      responses:
        200:
          description: Sweeped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidSweep'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/multi-sweeps:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Sweep Multiple Prepaid Card Balances
      tags:
      - sweep
      description: Service to sweep multiple prepaid card balances
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiSweepRequest'
        required: true
      responses:
        200:
          description: Sweeped
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiSweep'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiSweep'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/sweeps/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Void Sweep Transaction
      tags:
      - sweep
      summary: Service to void a sweep transaction
      description: Service to void a sweep transaction
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/sweeps/{fdParentTransactionId}/multi-void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Service to Void Multiple Sweep Transactions
      tags:
      - sweep
      summary: Void YES of sweep transactions
      description: Void NO of sweep transactions
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/deducts:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Deduct Amount from a Prepaid Card
      tags:
      - deduct
      description: Service to deduct prepaid card account
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidDeductRequest'
        required: true
      responses:
        200:
          description: Deducted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidDeduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/multi-deducts:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Deduct amount from multiple prepaid cards
      tags:
      - deduct
      description: Service to deduct multiple prepaid cards
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiDeductRequest'
        required: true
      responses:
        200:
          description: Deducted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiDeduct'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiDeduct'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/deducts/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel a deducted transaction
      tags:
      - deduct
      summary: Void of a deducted transaction
      description: A deducted transaction is voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/deducts/{fdParentTransactionId}/multi-void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel multiple prepaid card transactions 
      tags:
      - deduct
      summary: Multiple deducted transactions are voided.
      description: Multiple deducted transactions are voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/purchases/{fdTransactionId}:
    patch:
      x-group-name: Prepaid Services
      x-proxy-name: Resume a Reload Transaction
      tags:
      - purchase
      description: This service resumes 3DS pending reload transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  $ref: '#/components/schemas/UpdateActionType'
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
        required: true
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/purchases/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Void of a Purchase Transaction
      tags:
      - purchase
      summary: Void of a purchase transaction
      description: Void of a purchase transaction
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        '200':
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
              examples:
                With fdTransactionId:
                  summary: Cancel response using fd Transaction ID
                  $ref: '#/components/examples/PurchaseVoidResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/purchases/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel a Purchase Transaction
      tags:
      - purchase
      summary: Purchase transaction is voided.
      description: Purchase transaction is voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/purchases/{fdParentTransactionId}/multi-void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel Purchase Transactions
      tags:
      - purchase
      summary: Purchase transactions are voided.
      description: Purchase transactions are voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/reloads:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Reload A Prepaid Card
      tags:
      - reload
      description: This service is to reload funds into a vaulted Prepaid Card.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadFundsRequest'
            examples:
              Merchant Funded: {summary: Request with Merchant Funded, $ref: '#/components/examples/MerchantFundedReloadRequest'}

              Credit: {summary: Request with Credit Card, $ref: '#/components/examples/CreditCardReloadRequest'}

              Apple Pay: {summary: Request with ApplePay, $ref: '#/components/examples/ApplePayReloadRequest'}
              Google Pay: {summary: Request with Google Pay, $ref: '#/components/examples/GooglePayReloadRequest'}
              Samsung Pay: {summary: Request with Samsung pay, $ref: '#/components/examples/SamsungPayReloadRequest'}
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
              examples:
                Merchant Funded:
                  summary: Merchant funded reload response
                  $ref: '#/components/examples/MerchantFundedReloadResponse'
                Credit Card:
                  summary: Prepaid card reload with credit card card response
                  $ref: '#/components/examples/CreditCardReloadResponse'
                Apple Pay:
                  summary: prepaid card reload with apple pay response
                  $ref: '#/components/examples/ApplePayReloadResponse'
                Google Pay:
                  summary: prepaid card reload with google pay response
                  $ref: '#/components/examples/GooglePayReloadResponse'
                Samsung Pay:
                  summary: prepaid card reload with samsung pay response
                  $ref: '#/components/examples/SamsungPayReloadResponse'

        202:
          description: Partially Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/reloads:
    get:
      x-group-name: Prepaid Services
      x-proxy-name: Get Status of Reload Prepaid Card by clientRequestId
      tags:
      - reload
      description: This service is to get status of reload prepaid card transaction by clientRequestId.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/multi-reloads:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Reload Funds to Multiple Prepaid Cards
      tags:
      - reload
      description: This service is to reload funds to multiple prepaid cards.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadMultiFundsRequest'
        required: true
      responses:/v1/prepaids/reloads
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadMultiFundsPurchase'
        207:
          description: Multiple Status
          content:
            application/json:/v1/prepaids/balances/{requestId}
                $ref: '#/components/schemas/LoadMultiFundsPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:/v1/prepaids/balances/{requestId}
          $ref: '#/components/responses/Conflict'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/reloads/{fdTransactionId}:
    patch:
      x-group-name: Prepaid Services
      x-proxy-name: Load Funds into a Vaulted Prepaid Card
      tags:
      - reload
      description: Service to load funds into a vaulted Prepaid Card
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  $ref: '#/components/schemas/UpdateActionType'
                deviceInfo:
                  $ref: '#/components/schemas/DeviceInfo'
        required: true
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadFundsPurchase'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/reloads/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Void of a Reloaded Prepaid Card
      tags:
      - reload
      summary: Void of a reload transaction
      description: Void of a reload transaction
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        '200':
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Prepaid'
              examples:
                With fdTransactionId:
                  summary: Cancel response using fd Transaction ID
                  $ref: '#/components/examples/ReloadVoidResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/reloads/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel Reloaded Transaction
      tags:
      - reload
      summary: Void of a reload transaction
      description: Reload prepaid card transaction is voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/reloads/{fdParentTransactionId}/multi-void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel Multiple Reload Transactions
      tags:
      - reload
      summary: Void of reload transactions
      description: This service is to void multiple reload transactions.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidMultiVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidMultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/merges:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Merge Balance from One Vaulted Prepaid Card to Another
      tags:
      - merge
      description: This service merges the balance from one vaulted prepaid card to another vaulted prepaid card.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MergeAccountsRequest'
            examples:
              Vaulted Accounts: {summary: Request with Merchant Funded, $ref: '#/components/examples/VaultedAccountsBalanceMergeRequest'}
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeBalanceTransaction'
              examples:
                Vaulted Accounts:
                  summary: Merge response for two vaulted accounts
                  $ref: '#/components/examples/VaultedAccountsBalanceMergeResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/merges:
    get:
      x-group-name: Prepaid Services
      x-proxy-name: Get Status of Merge Transaction by clientRequestId
      tags:
      - merge
      description: This service is used for status check when a previous merge transaction is timed out.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MergeBalanceTransaction'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/merges/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Void of a Merge Transaction
      tags:
      - merge
      summary: Void of a merge transaction
      description: Void of a merge transaction
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        200:
          $ref: '#/components/responses/OK'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/prepaids/merges/{fdTransactionId}/void:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Cancel Merge Transaction
      tags:
      - merge
      summary: Void of a merge transaction
      description: Merge transaction is voided.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdTransactionIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidVoidRequest'
        required: true
      responses:
        200:
          description: Voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/transactions:
    post:
      deprecated: true
      x-group-name: Prepaid Services
      x-proxy-name: Retrieve Transactions on a Prepaid Card
      tags:
      - transaction
      description: Service to retrieve transactions on a vaulted Prepaid Card from the host
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
            examples:
              Vaulted Card: {summary: Request with vaulted card, $ref: '#/components/examples/VaultedCardTransactionHistoryRequest'}
              Plain Card: {summary: Request with plain card, $ref: '#/components/examples/PlainCardTransactionHistoryRequest'}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                title: TransactionList
                type: array
                items:
                  $ref: '#/components/schemas/PrepaidTransaction'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/prepaids/txn-history:
    post:
      x-group-name: Prepaid Services
      x-proxy-name: Get Prepaid Card Transaction Details
      tags:
      - transaction
      description: This service is to retrieve transactions on a vaulted prepaid card from the host.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/PageNumberParam'
      - $ref: '#/components/parameters/PageSizeParam'
      - $ref: '#/components/parameters/StartDateParam'
      - $ref: '#/components/parameters/EndDateParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepaidAccountRequest'
            examples:
              Vaulted Card: {summary: Request with vaulted card, $ref: '#/components/examples/VaultedCardTransactionHistoryRequest'}
              Plain Card: {summary: Request with plain card, $ref: '#/components/examples/PlainCardTransactionHistoryRequest'}
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepaidTxnSearchResult'
              examples:
                vaulted Card:
                  summary: Cancel response using Merchant Transaction ID
                  $ref: '#/components/examples/VaultedCardTransactionHistoryResponse'
                Plain card:
                  summary: Cancel response using Merchant Transaction ID
                  $ref: '#/components/examples/PlainCardTransactionHistoryResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        500:
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    #-------------------------------------
    # Operational Models
    #-------------------------------------
    LoadFundsRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/LoadFundsPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Reload a Prepaid Account Request

    LoadMultiFundsRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/LoadFundsPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Reload a Prepaid Account Requests

    MergeAccountsRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/MergeBalanceTransaction'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Merge a Accounts Request

    PrepaidAggregateRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        groupNames:
          minItems: 0
          type: array
          items:
            type: string
        transaction:
          $ref: '#/components/schemas/PrepaidPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Prepaid Aggregate Request

    PrepaidAccountRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/PrepaidPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase a Prepaid Account Request

    PrepaidDeductRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/PrepaidDeduct'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Deduct a Prepaid Account Request

    PrepaidMultiAccountRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidPurchase'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase Multiple Prepaid Account Request

    PrepaidSweepRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/PrepaidSweep'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Sweep a Prepaid Account Request

    PrepaidVoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        transaction:
          $ref: '#/components/schemas/PrepaidVoid'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase a Prepaid Account Request

    PrepaidMultiDeductRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidDeduct'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Multiple Prepaid Deduct Request

    PrepaidMultiSweepRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidSweep'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Multiple Prepaid Sweep Request

    PrepaidMultiVoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        operationType:
          $ref: '#/components/schemas/OperationType'
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidVoid'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
      description: Purchase Multiple Prepaid Void Request

    VoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    #-------------------------------------
    # Resource Models
    #-------------------------------------
    ACH:
      type: object
      properties:
        accountNumber:
          type: string
          description: Unique number identifying the ACH account provided by Financial institution.
          example: "92658250156"
        routingNumber:
          type: string
          description: Number to identify the financial institution
          example: "999999999"
        secCode:
          type: string
          description: SEC Code is optional data, It is specifically required for ACH account which is ruled by NACHA compliance.
        cardNumber:
          type: string
          description: ACH Card number, can only be sent when vaulting an account.  This field will NOT be present in responses.
          example: "9111111111111111"
        cardType:
          $ref: '#/components/schemas/AchCardType'
        securityCode:
          type: string
          description: Code to validate the ACH account, like micro deposit or security code.
          example: "278356"
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
          example: "1111"
        enrollmentStatus:
          $ref: '#/components/schemas/AchEnrollmentStatus'
        enrollmentSubStatuses:
          type: array
          items:
            $ref: '#/components/schemas/AchEnrollmentSubStatus'
        accountType:
          $ref: '#/components/schemas/AchAccountType'
        bankName:
          type: string
          description: Name of the bank associated with the ACH account
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        assetProvider:
          $ref: '#/components/schemas/AssetProvider'
      description: Information about an ACH account

    Address:
      type: object
      properties:
        type:
          type: string
          description: Canonical type values of "work", "home", and "other".
          example: work
        streetAddress:
          type: string
          description: The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
          example: 100 Universal City Plaza
        locality:
          type: string
          description: The city or locality component.
          example: Hollywood
        region:
          type: string
          description: The state or region component.
          example: CA
        postalCode:
          type: string
          description: The zip code or postal code component.
          example: "91608"
        country:
          type: string
          description: The country name component.  When specified, the value MUST be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden are "US" and "SE", respectively.
          example: US
        formatted:
          type: string
          description: The full mailing address, formatted for display or use with a mailing label.
          example: 100 Universal City Plaza, Hollywood, CA 91608 US
        primary:
          type: boolean
          description: Indicates if this is the default address for the associated resource. It only has meaning when used in a set or array of addresses.
          example: true
      description: A physical mailing address for this user.

    AmazonPay:
      type: object
      properties:
        token:
          type: string
          example: 292bb6b886fc4446894f878b7e32bd5e
        chargeId:
          type: string
          example: 73883992djj39939djj929992jj08838
        chargeReferenceId:
          type: string
          example: 8jdw838dhhskk9299299299ueuuue838
        credit:
          $ref: '#/components/schemas/Credit'

    AndroidPay:
      type: object
      properties:
        data:
          type: string
          example: 3CguW5ecfTzO...03d
        signature:
          type: string
          example: MIAGCSqGSIb......AAAA==
        decryptAlias:
          type: string
          description: field of the public key certificate.
          example: oslo.com.xxx.Prod_mer
        dPanLast4:
          type: string
          example: "9876"
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        header:
          type: object
          properties:
            ephemeralPublicKey:
              type: string
              example: MFkwEw...03d
            publicKeyHash:
              type: string
              example: +vbONw...IM=
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'

    ApplePay:
      type: object
      properties:
        version:
          type: string
          example: EC_v1
        developerEmail:
          type: string
        signature:
          type: string
          example: MIAGCSqGSIb......AAAA==
        decryptAlias:
          type: string
          description: field of the public key certificate.
          example: oslo.com.xxx.Prod_mer
        data:
          type: string
          example: 3CguW5ecfTz...Yuhw=
        applicationData:
          type: string
          example: VEVTVA==
        dPanLast4:
          type: string
          example: "9876"
        bin:
          type: string
        eciIndicator:
          type: string
        xid:
          type: string
        cavv:
          type: string
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        panType:
          type: string
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        header:
          type: object
          properties:
            applicationDataHash:
              type: string
            ephemeralPublicKey:
              type: string
              example: MFkwEwYHKoZIzj0CIKoZIz.....NBQQ==
            publicKeyHash:
              type: string
              example: +vbONwRlVqJX0........
            transactionId:
              type: string
              example: 3827c5a02638.....34d50
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'

    Authorization:
      type: object
      properties:
        authorizationId:
          type: string
          description: Unique identifier for the payment authorization.
          example: 8a34843d4f2acc91014f2dc1e85e0122
        transactionTime:
          type: string
          description: Transaction date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
      description: Information related to the authorization transaction on the source card.

    AggregateBalanceTransactionInfo:
      type: object
      properties:
        totalBalance:
          type: number
          description: sum of prepaid card in lower denomination of the currency.
        groupBalances:
          type: array
          items:
            $ref: '#/components/schemas/GroupPrepaidBalanceInfo'
      description: Prepaid balance transaction response.

    AssetProvider:
      type: object
      properties:
        providerName:
          type: string
          example: coinbase

    BalanceInfo:
      required:
      - currencyCode
      - currentBalance
      type: object
      properties:
        currentBalance:
          type: number
          description: The current balance of prepaid card in lower denomination of the currency.
        beginBalance:
          type: number
          description: The balance of prepaid card before a transaction in lower denomination of the currency.
        currencyCode:
          $ref: '#/components/schemas/ISO-4217'
        currencyType:
          $ref: '#/components/schemas/CurrencyPairType'
      description: Details of balance in the prepaid card.
      example:
        currentBalance: 1100
        beginBalance: 1000

    Bancontact:
      type: object
      properties:
        returnUrl:
          type: string
        deepLink:
          type: string
        alias:
          type: string
          example: "9876"
        cardType:
          $ref: '#/components/schemas/CreditCardType'

    Credit:
      type: object
      properties:
        cardNumber:
          type: string
          description: Primary account number, can only be sent when vaulting an account. This field will NOT be present in responses.
          example: "4111111111111111"
        bin:
          type: string
        nameOnCard:
          type: string
          description: Name as printed on physical card or on virtual account
          example: John Smith
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
          example: "1111"
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        cardSubType:
          type: string
          description: Merchant or brand specific information about the type of account
          example: ABCD
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        securityCode:
          type: string
          example: "444"
        sequenceNumber:
          type: string
          description: Applicable only for private-label accounts
          example: "01"
        token:
          $ref: '#/components/schemas/ReferenceToken'
        tokens:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/ReferenceToken'
      description: Information on a credit account

    DynamicDescriptors:
      type: object
      properties:
        merchantCategoryCode:
          type: string
          description: Merchant category code
        merchantName:
          type: string
          description: Merchant name
        merchantEmail:
          $ref: '#/components/schemas/Email'
        customerServiceNumber:
          $ref: '#/components/schemas/Phone'
        serviceEntitlementNumber:
          type: string
          description: Service entitlement number
        merchantAddress:
          $ref: '#/components/schemas/Address'

    EBT:
      type: object
      properties:
        cardNumber:
          type: string
          description: Primary account number, can only be sent when vaulting an account.  This field will NOT be present in responses.
        nameOnCard:
          type: string
          description: Name as printed on physical card or on virtual account
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        bin:
          type: string
          description: BIN of EBT card
          readOnly: true
        pin:
          type: string
          description: PIN for EBT card
        pinCaptureId:
          type: string
          description: Session id used on client side SDK to capture the card pin
        transactionId:
          type: string
          description: The unique transaction ID
        balance:
          $ref: '#/components/schemas/EBTBalance'
        metadata:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        token:
          $ref: '#/components/schemas/ReferenceToken'
      description: Electronic Benefits Transfer card information

    EBTBalance:
      type: object
      properties:
        cashBalance:
          type: number
        cashCurrencyCode:
          $ref: '#/components/schemas/ISO-4217'
        snapBalance:
          type: number
        snapCurrencyCode:
          $ref: '#/components/schemas/ISO-4217'

    Email:
      type: object
      properties:
        type:
          type: string
          description: The "type" sub-attribute is used to provide a classification meaningful to the (human) user.  The user interface should encourage the use of basic values of "work", "home", and "other" and MAY allow additional type values to be used at the discretion of the service client.
          example: work
        value:
          type: string
          description: The value SHOULD be specified according to RFC5321.
          example: bjensen@example.com
        primary:
          type: boolean
          description: Defines if this entry is to be used as the primary or default for the user.
          default: false
      description: Email address for the user.

    ExpiryDate:
      type: object
      properties:
        month:
          maxLength: 2
          minLength: 2
          pattern: '[0-9]{2,2}'
          type: string
          description: Month format 'MM'
          example: "09"
        year:
          maxLength: 2
          minLength: 2
          pattern: '[0-9]{2,2}'
          type: string
          description: Year format 'YY'
          example: "20"
        singleValue:
          maxLength: 6
          minLength: 4
          type: string
          description: Month and year together, 'MMYY' or 'MMYYYY'.  If the latter format, the string will be parsed and validated per the given format.  Any other format will be rejected.
      description: Contains account expiration data and needs to either send the values in individual fields OR as a singleValue.

    ExternalCustomerId:
      title: External Customer ID
      type: string
      description: External customer id.

    FdCustomerId:
      title: FD Customer ID
      type: string
      description: FD customer identifier tied to the vaulted accounts.
      example: cuid-0987613457398475

    FundingInfo:
      type: object
      properties:
        fundValue:
          type: number
          description: Requested fund amount for the gift card.
          example: 100.0
        approvedAmount:
          type: number
          description: Approved fund amount for the gift card.
          readOnly: true
          example: 100.0
        isFullDeduction:
          type: boolean
          description: Flag that indicates if the full amount needs to be cashed out
        isMerchantFunded:
          type: boolean
          description: Flag that indicates if the source of the payment is funded by merchant vs customer
        isPartialTransactionAllowed:
          type: boolean
          description: Flag that indicates if partial transaction is allowed or not
        merchantFundId:
          type: string
          description: Merchant account identifier which will be used for funding the prepaid card transactions.
          example: M11AC8616001
        currencyCode:
          $ref: '#/components/schemas/ISO-4217'
        fundingSource:
          $ref: '#/components/schemas/FundingSource'
      description: Source of funding to purchase or reload the value of a prepaid account.

    FundingSource:
      type: object
      properties:
        saveToVault:
          type: boolean
          description: Flag to indicate if the destination account should be stored in the secure vault.
          example: false
          default: false
        type:
          $ref: '#/components/schemas/FundingSourceType'
        vaultedAccount:
          $ref: '#/components/schemas/VaultedAccount'
        credit:
          $ref: '#/components/schemas/Credit'
        prepaid:
          $ref: '#/components/schemas/Prepaid'
        applePay:
          $ref: '#/components/schemas/ApplePay'
        androidPay:
          $ref: '#/components/schemas/AndroidPay'
        samsungPay:
          $ref: '#/components/schemas/SamsungPay'
        paypal:
          $ref: '#/components/schemas/Paypal'
        token:
          $ref: '#/components/schemas/ReferenceToken'
        visaCheckout:
          $ref: '#/components/schemas/VisaCheckout'
        googlePay:
          $ref: '#/components/schemas/GooglePay'
        masterpass:
          $ref: '#/components/schemas/MasterPass'
        ach:
          $ref: '#/components/schemas/ACH'
        venmo:
          $ref: '#/components/schemas/Venmo'
        vipps:
          $ref: '#/components/schemas/Vipps'
        amazonPay:
          $ref: '#/components/schemas/AmazonPay'
        ideal:
          $ref: '#/components/schemas/Ideal'
        bancontact:
          $ref: '#/components/schemas/Bancontact'
        walmartPay:
          $ref: '#/components/schemas/WalmartPay'
        ebt:
          $ref: '#/components/schemas/EBT'
      description: Holds information about funding source for the payment transaction. Can hold only one above the provided funding sources.

    GooglePay:
      type: object
      properties:
        version:
          type: string
          description: Identifies encryption/signing scheme.
          example: EC_v1
        developerEmail:
          type: string
        signature:
          type: string
          description: Signature to verify Google initiated message.
          example: MIAGCSqGSIb......AAAA==
        data:
          type: string
          description: Data includes encryptedMessage, ephemeralPublicKey, tag.
          example: '{"encryptedMessage":"8nx...u003d","ephemeralPublicKey":"BGH...u003d","tag":"nvm...\u003d"}'
        dPanLast4:
          type: string
          example: "9876"
        bin:
          type: string
        eciIndicator:
          type: string
        xid:
          type: string
        cavv:
          type: string
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        panType:
          type: string
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
      description: Google Payment specific information

    GroupPrepaidBalanceInfo:
      type: object
      properties:
        groupName:
          type: string
          description: Identifies encryption/signing scheme.
        groupBalance:
          type: number
          description: sum of prepaid card in lower denomination of the currency.
        balances:
          type: array
          items:
            $ref: '#/components/schemas/PrepaidBalanceInfo'
      description: Group prepaid balance information

    Ideal:
      type: object
      properties:
        returnUrl:
          type: string
        deepLink:
          type: string

    ISO-4217:
      type: object
      properties:
        code:
          type: string
          default: USD
        number:
          type: integer
        digits:
          type: integer
        currency:
          type: string
          default: US Dollar
      description: ISO 4217 currency format in which the balance is represented.
      example:
        code: USD
        number: 840
        digits: 2
        currency: US Dollar

    Link:
      required:
      - href
      - rel
      type: object
      properties:
        href:
          type: string
          description: URL to linked resource.
          format: uri
          example: https://api.example.com/v1/customers/cust-id-123456/accounts/acct-id-123456
        rel:
          type: string
          description: Defines the type of link relationship to current resource.
          example: linked.account
        method:
          type: string
          description: Defines the HTTP method for the given href.
          example: GET
          default: GET
        id:
          type: string
          description: Identifier to the resource.
          example: 415e5cf6bfdb11e8a355529269fb1459
      description: Model to communicate linked resources.

    LoadMultiFundsPurchase:
      type: object
      properties:
        parentTransactionId:
          type: string
          description: Unique identifier of multi load transaction.
          readOnly: true
          example: 485-27834-285903824-095
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        createdTime:
          type: string
          description: Prepaid Card creation date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
        parentExternalId:
          type: string
          description: External transaction id reference
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/LoadFundsPurchase'
      description: Information related to Fund load operation.

    LoadFundsPurchase:
      required:
      - destinationCard
      - fundingInfo
      type: object
      properties:
        transactionId:
          type: string
          description: Unique identifier for this purchasing transaction.
          readOnly: true
          example: 485-27834-285903824-095
        saveToVault:
          type: boolean
          description: Flag to indicate if the destination card should be vaulted to a secure repository for future use for the given customer.
          default: false
        dynamicDescriptors:
          $ref: '#/components/schemas/DynamicDescriptors'
        status:
          $ref: '#/components/schemas/PrepaidStatus'
        destinationCard:
          type: object
          properties:
            account:
              $ref: '#/components/schemas/Prepaid'
            vaultedAccount:
              $ref: '#/components/schemas/VaultedAccount'
            balanceInfo:
              $ref: '#/components/schemas/PrepaidBalance'
          description: Information related to the account receiving the funds.
        fundingInfo:
          $ref: '#/components/schemas/FundingInfo'
        purchaseInfo:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/PurchaseInfo'
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        storeId:
          type: string
          description: Store identifier where the transaction is being performed.
          example: "123456"
        merchantTokenCode:
          type: string
          description: Merchant token code used for token generation
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        externalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        supplements:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Supplement'
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        threeDSecureInfo:
          $ref: '#/components/schemas/ThreeDSecure'
        errorInfo:
          $ref: '#/components/schemas/Error'
      description: Information related to Fund load operation.

    NVP:
      title: Name and Value pair.
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        valueAsList:
          minItems: 0
          type: array
          items:
            type: string

    MasterPass:
      type: object
      properties:
        transactionId:
          type: string
          description: Identifier corresponding to an account enrolled with MasterPass system.
          example: "1234732704291071701"
        credit:
          $ref: '#/components/schemas/Credit'
      description: MasterPass information

    Membership:
      type: object
      properties:
        membershipType:
          type: string
        membershipId:
          type: string
        membershipProgramId:
          type: string
        membershipStatus:
          type: string
        membershipExpiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        accountNumber:
          type: string
        securityCode:
          type: string
        merchantId:
          type: string
          description: Merchant identifier for which the request has been initiated.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier for which the request has been initiated.
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        verifyAccount:
          type: boolean
        additionalInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
      description: Membership information for the user.

    MergeBalanceTransaction:
      type: object
      properties:
        transactionId:
          type: string
          description: Unique identifier for this purchasing transaction.
          readOnly: true
          example: 485-27834-285903824-095
        status:
          $ref: '#/components/schemas/PrepaidStatus'
        activateVirtualCard:
          type: boolean
          description: Indicates whether uCom needs to activate a destination account
          example: true
        dynamicDescriptors:
          $ref: '#/components/schemas/DynamicDescriptors'
        purchaseInfo:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/PurchaseInfo'
        source:
          type: object
          properties:
            account:
              $ref: '#/components/schemas/Prepaid'
            vaultedAccount:
              $ref: '#/components/schemas/VaultedAccount'
            authorization:
              $ref: '#/components/schemas/Authorization'
          description: Information related to the Source account.
        destination:
          type: object
          properties:
            account:
              $ref: '#/components/schemas/Prepaid'
            vaultedAccount:
              $ref: '#/components/schemas/VaultedAccount'
            balanceInfo:
              $ref: '#/components/schemas/PrepaidBalance'
          description: Information related to the Destination account.
        supplements:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Supplement'
        hostExtraInfo:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/NVP'
      description: Information related to balance merge operation

    Order:
      required:
      - orderId
      type: object
      properties:
        orderId:
          type: string
          description: Client provided unique identifier for the order related to the requested authorization
          example: Order001
        altOrderId:
          type: string
          description: Alternate order id
        orderType:
          type: string
          description: Type of the order
        emails:
          type: array
          items:
            $ref: '#/components/schemas/Email'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
      description: Information about the order details

    OfferStatus:
      type: object
      properties:
        code:
          type: string
          description: Indicates offer status code, NOT_ACTIVATED | ACTIVATED | REDEEMED | DECLINED | CANCELLED | FAILED
        statusInfo:
          minItems: 0
          uniqueItems: true
          type: array
          description: Details about what to display, images, messaging, etc.
          items:
            $ref: '#/components/schemas/NVP'
      description: Maintain the status of stackable promotions

    PageLink:
      type: object
      properties:
        firstPage:
          type: boolean
          description: Indicates if the list contains first page data
        lastPage:
          type: boolean
          description: Indicates if the list contains last page data
          example: false
        currentPage:
          type: integer
          description: Current page number
          example: 1
        currentPageRecords:
          type: integer
          description: Number of records in current page
          example: 25
        totalPages:
          type: integer
          example: 2
        totalRecords:
          type: integer
          example: 27
        sortOrder:
          type: string
          example: asc
          default: asc
          enum:
          - asc
          - desc
        _links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
      description: Page link information.

    Paypal:
      type: object
      properties:
        payerId:
          type: string
          description: Paypal generated Unique identifier for a Paypal account.
          example: LPLWNMTBWMFAY
        nonce:
          type: string
          description: Paypal generated nonce.
          example: ab12-124C-ab12-124C-ab12-124C
        credit:
          $ref: '#/components/schemas/Credit'
      description: Information about a Paypal account.
    Phone:
      type: object
      properties:
        value:
          type: string
          description: The value SHOULD be specified according to the format defined in RFC3966, e.g., 'tel:+1-201-555-0123'.
          example: 555-555-5555
        type:
          type: string
          description: Often has typical values of "work","billing", "home", "mobile", "fax", "pager", and "other" and MAY allow more types to be defined by the service client.
          example: billing 
        extension:
          type: string
          description: Defines the extension of the phone number.
          example: "2145"
        primary:
          type: boolean
          description: Defines if this entry is to be used as the primary or default for the user.
          default: false
      description: Phone number for the user.
      
    POSItem:
      type: object
      properties:
        itemDescription:
          type: string
          example: Standard Wash (or) Unleaded Petrol
        itemPrice:
          type: number
          format: double
          example: 7.5
        unitOfMeasurement:
          type: string
          example: each
        unitsSold:
          type: number
          format: double
          example: 1.0
        totalItemSaleAmount:
          type: number
          format: double
          example: 7.5
        originalItemPrice:
          type: number
          format: double
          example: 7.5
        originalTotalSaleAmount:
          type: number
          format: double
          example: 7.5
        posCodeFormat:
          type: string
          example: plu
        posCode:
          type: string
          example: "102"
        posCodeModifier:
          type: string
          example: "1"
        productCode:
          type: string
          example: "102"
        tax:
          type: array
          items:
            $ref: '#/components/schemas/TaxDetails'
        type:
          $ref: '#/components/schemas/POSItemType'
        serviceLevelCode:
          $ref: '#/components/schemas/ServiceLevelCode'
        priceAdjustments:
          type: array
          items:
            $ref: '#/components/schemas/PriceAdjustment'
        washCodes:
          type: array
          items:
            $ref: '#/components/schemas/WashCode'
        priceTier:
          type: string
      description: Structure to support passing POS sale info as part of the sale request.

    Prepaid:
      type: object
      properties:
        cardNumber:
          type: string
          description: Prepaid card number.
          example: "6759649826438453"
        cardSubType:
[...]
