#-------------------------------------
# Document Change Log
# 0.2.2
#     - No Changes
# 0.2.1
#     - No Change.
# 0.2.0
#     - No change.
# 0.1.8
#     - No change
# 0.1.7
#     - No change.
# 0.1.6
#     - Added Accept-Language header field
# 0.1.5
#     - No change.
# 0.1.4
#     - No Change
# 0.0.1
#     - POS closure API and Batch Number details API.
#-------------------------------------
swagger: '2.0'
info:
  version: 0.2.2
  title: uCom Merchant Services
  description: Services related to Merchant or Terminal operations
tags:
  - name: pos
    description: "Operations that interact with a POS"
host: int.api.firstdata.com
basePath: /ucom
schemes:
 - https
consumes:
 - application/json
produces:
 - application/json
paths:
  /v1/partners/{partnerId}/stores/{storeLocationId}/closures:
    post:
      tags:
        - pos
      description: Create a close event at a POS system.  The close event triggers subsequent activity on the payment host.
      parameters:
        - $ref: "#/parameters/ApiKeyParam"
        - $ref: "#/parameters/TimestampParam"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: "#/parameters/StoreLocationIdParam"
        - $ref: "#/parameters/PartnerIdParam"
        - $ref: '#/parameters/AcceptLanguageParam'
        - name: payload
          in: body
          schema:
            $ref: '#/definitions/ClosureRequest'
      responses:
        201:
          $ref: '#/responses/Created'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/ServerError'

  /v1/partners/{partnerId}/stores/{storeLocationId}/batches:
    get:
      tags:
        - pos
      description: Return the active Batch details.
      parameters:
        - $ref: "#/parameters/ApiKeyParam"
        - $ref: "#/parameters/TimestampParam"
        - $ref: "#/parameters/AuthorizationParam"
        - $ref: '#/parameters/ClientTokenParam'
        - $ref: "#/parameters/StoreLocationIdParam"
        - $ref: "#/parameters/PartnerIdParam"
        - $ref: '#/parameters/AcceptLanguageParam'
      responses:
        200:
          $ref: '#/responses/OK'
        400:
          $ref: '#/responses/BadRequest'
        401:
          $ref: '#/responses/Unauthorized'
        409:
          $ref: '#/responses/Conflict'
        500:
          $ref: '#/responses/ServerError'

definitions:
#-------------------------------------
# Operational Models
#-------------------------------------
  ClosureRequest:
    description: Transaction information sent to indicate a close event happened at a location.  The close event triggers subsequent events on the payment host.
    type: object
    properties:
      terminalId:
        type: string
        description: "POS Terminal Identifier"
      employeeNumber:
        type: string
        description: "Store employee number"
      terminalPasscode:
        type: string
        description: "POS Terminal Passcode"
      batchSequenceNumber:
        type: string
        description: "POS Batch sequence number"
      softwareVersion:
        type: string
        description: "POS Software version"
      hardwareVersion:
        type: string
        description: "POS hardware version"
      firwareVersion:
        type: string
        description: "POS firware version"
      terminalTotal:
        type: string
        description: "Net transaction amount for the given terminal"
      requestorTimestamp:
        type: string
        description: "time stamp provided by POS"
      closureId:
        type: string
        description: "unique Id generated by merchnat services for closure."
      netAmount:
        type: string
        description: "Net amount of transaction for closure."
      totalsDate:
        type: string
        description: "Total's date provide by POS."
      batchNumber:
        type: string
        description: "Store location's batch number"
      currencyCode:
        $ref: '#/definitions/ISO-4217'

  ClosureResponse:
    description: Transaction information sent to indicate the host results of a close event happened at a location.
    type: object
    properties:
      terminalTotal:
        type: string
        description: "Net transaction amount for the given terminal"
      details:
        type: array
        items:
          title: hostTotal
          type: object
          properties:
            type:
              type: string
              description: "Card Type"
            transactionTotal:
              type: string
              description: "Net transaction amount for the given card type"
            transactionCount:
              type: string
              description: "Transaction Count"

  BatchResponse:
    description: Batch details
    type: object
    properties:
      batchNumber:
        type: string
        example: "1"
        description: "Store location's batch number"
      storeVendorId:
        type: string
        example: "POS_PARTNER_ID"
        description: "Store location's vendor Id"
      storeLocationId:
        type: string
        example: "9901"
        description: "Store location Id"

#-------------------------------------
# Resource Models
#-------------------------------------
  ISO-4217:
    description: ISO 4217 currency format in which the balance is represented.
    type: object
    properties:
      code:
        type: string
        default: "USD"
        example: "USD"
      number:
        type: number
        default: 840
        example: 840
      digits:
        type: number
        default: 2
        example: 2
      currency:
        type: string
        default: "US Dollar"
        example: "US Dollar"

#-------------------------------------
# Common Models
#-------------------------------------
  Error:
    description: Model for error messaging
    type: object
    properties:
      code:
        type: string
        description: Unique code representing the error.
      message:
        type: string
        description: A generic description of the error condition.
      category:
        type: string
        description: The resource associated with the error condition.
      developerInfo:
        type: object
        description: Information that needs to be understood by the client developers and should not be interpreted for application processing.
        properties:
          developerMessage:
            type: string
            description: An elaborative description of the error description.
          moreInfo:
            type: string
            description: Link to the error in Developer page.
          fieldError:
            description: Detailed information about message format errors.
            type: array
            items:
              properties:
                field:
                  description: The property or attribute associated with the error
                  type: string
                message:
                  description: Information specific to a property or attribute.
                  type: string
    example:
      code: "40000"
      message: "Example Error"
      category: "example"
      developerInfo:
        developerMessage: "Invalid Message format in request payload"
        moreInfo: "https://www.example.com/errors/40000"
        fieldError:
          - field: "example id"
            message: "exampleId is mandatory"

#-------------------------------------
# ENUM Models
#-------------------------------------


#-------------------------------------
# Responses
#-------------------------------------
responses:
  Created:
    description: Resource created
    headers:
      Location:
        type: string
        description: Location of newly created resource.
    schema:
      $ref: '#/definitions/ClosureResponse'

  OK:
    description: OK
    schema:
      $ref: '#/definitions/ClosureResponse'

  BatchCreated:
    description: OK
    schema:
      $ref: '#/definitions/BatchResponse'

  NoContent:
    description: The request succeeded but thereâ€™s really nothing to show.

  BadRequest:
    description: Bad request
    schema:
      $ref: '#/definitions/Error'

  Unauthorized:
    description: Unauthorized

  NotFound:
    description: Not Found - The requested resource doesn't exist.
    schema:
      $ref: '#/definitions/Error'

  Conflict:
    description: Conflict - The requested operation conflicts with the current state of the identified resource.
    schema:
      $ref: '#/definitions/Error'

  ServerError:
    description: An unexpected server error occured.
    schema:
      $ref: '#/definitions/Error'

#-------------------------------------
# Parameter Models
#-------------------------------------
parameters:
  AcceptLanguageParam:
    name: Accept-Language
    description: The Accept-Language header contains information about the language preference of a user. This HTTP header is useful to multilingual sites for deciding the best language to serve to the client. i.e en-US,fr-CA
    in: header
    type: string

  ApiKeyParam:
    name: Api-Key
    description: An API key is a string value passed by a client app to the API proxies. The key uniquely identifies the client app.
    in: header
    required: true
    type: string

  AuthorizationParam:
    name: Authorization
    description: Authorization information for the request. Format- `HMAC {hmacToken}`
    in: header
    required: true
    type: string

  ClientTokenParam:
    name: Client-Token
    description: Used to pass the original client OAuth token information given in a client-credentials flow.  This field is only used when the server is making the request and needs to link the transaction to a specific client.  Format- `Bearer {access_token}`
    in: header
    type: string

  MerchantIdParam:
    name: merchantId
    description: Unique identifier provided for the merchant profile.
    in: path
    required: true
    type: string

  PartnerIdParam:
    name: partnerId
    description: Unique identifier setup for the partner.
    in: path
    required: true
    type: string

  StoreLocationIdParam:
    name: storeLocationId
    description: Unique identifier provided for the merchant store id.
    in: path
    required: true
    type: string

  TimestampParam:
    name: Timestamp
    description: Epoch timestamp in the request initiating syste
    in: header
    required: true
    type: string
