#-------------------------------------
# Document Change Log
# 0.2.4
#     - Added corporate mid identifiers in Sale/MultiSale API
#     - Added storeId in the StoreLocation object
# 0.2.3
#     - Added tokens reference in the Credit
#     - Added V2 refund API
#     - Added membership in all payment APIs
#     - Added split settlement info is Auth/Capture/Sale
# 0.2.2
#     - New V2 endpoints for multi transaction use cases
# 0.2.1
#     - Added Walmart pay as fundingSource
#     - Added SEC code for ACH
#     - Added EBT as funding source
#     - Added Merchant id as header field
#     - Added asset provider field in the ACH
# 0.2.0
#     - Added dynamic descriptors API model in Refund and Void
#     - Added 'OTHER' CreditCardType
#     - Added fields in ThreeDSecure object
#     - Added Price tier in POSItem
#     - Added Alternate merchant id
#     - Added PAN type and BIN
#     - Added Expiry Date to InApp entities
#     - Added new API for charge details
#     - Added Developer Email in ApplePay/GooglePay/SamsungPay objects
#     - Added ECIIndicator in ApplePay/GooglePay/SamsungPay objects
#     - Added local payment methods for Ideal and Bancontact
#     - Added exemptionCode
# 0.1.9
#     - Updated PriceAdjustment to add maxQuantity
#     - Added AmountSplitInfo and DeliveryService API Models
#     - Added GET endpoints for Sale/Auth/Capture/Refund based on client request id
#     - Added FAILED payment status
#     - Added OfferStatus in the PriceAdjustments
#     - Added washcodes under POSItem
#     - Added purchase info in Refund and Void entity
#     - Added dynamic descriptors API model
#     - Added external customer id
# 0.1.8
#     - Added QRCodeId for STAC payment
#     - Added 3ds web support
#     - Added account type for ACH
# 0.1.7
#     - Added 3ds challenge transaction expiry date time in ThreeDSecure
#     - Added credit in Paypal object
#     - Added enrollment status and bank name in the ACH object
#     - Added Vipps as a funding source.
#     - Added Fleet as a funding source.
#     - Added NVP in the Void API
#     - Updated PriceAdjustment as list under POSItem
# 0.1.6
#     - Added new api to support refund on authorization.
#     - Added securityCode in vaulted Account
#     - Added VAULTED_ACCOUNT as AccountType
#     - Added Accept-Language header field
# 0.1.5
#     - Added Link in the Error object.
#     - Added retailer partner id for marketplace
#     - Added Amazon Pay funding source
#     - acsSignedContent and CardType in threeDSecureInfo object
#     - Added billing phonenumber and Order object
#     - Moved OrderId to Order object
# 0.1.4
#     - Added ServiceLevelCode under POSItem
#     - Added ACH under funding source.
#     - Added Venmo under funding source.
#     - Added PATCH operation on auth and sale transactions
#     - Added ThreeDSecure object under Auth and Sale transactions
#     - Added PriceAdjustment under POSItem
# 0.1.3
#     - Adding NVP with valueAsList
#     - Added 'billingAddress' element in 'AndroidPay', 'ApplePay', 'GooglePay' and 'SamsungPay'
#     - update in DeviceInfo.
# 0.1.2
#     - No change.
# 0.1.1
#     - Added 'cardType' attribute in 'ApplePay'
#     - Added 'cardType', 'dPanLast4' attribute in 'AndroidPay', 'GooglePay' and 'SamsungPay'
#     - Added 'hostExtraInfo' in 'Error'
#     - Added 'id' attribute to Link
# 0.1.0
#   - Added 'googlePay' as 'fundingSource'
#   - Added client-token in the header field
# 0.0.9
#    - Introduced 'industrySpecificInfo' element in Authorization and Capture object
#    - Introduced 'ach' entity in FundingSource object
#    - Added 'cardSubType' attribute inside Credit object
#    - Added 'nonce' attribute in Paypal object
#    - FuelPurchaseInfo added
# 0.0.8
#    - No change.
# 0.0.7
#   - Updated ReferenceToken to have more accurate attribute names, removed use value
#   - Cleaned up examples in the models
#   - Added 'type' attribute to 'FundingSource' object.
#   - Added 'createdDateTime' and 'lastUpdatedDateTime' attributes to 'Authorization', 'Capture', 'Sale' and 'Refund' objects.
# 0.0.6
#   - Changed PaymentToken to same Token object used in Account services and not specific to payments, renamed to ReferenceToken
#   - Added a @token to the Authorization, Credit, Prepaid and Sale models whereby a token generated or retrieved during the process can be returned to the client.
#   - Removed ActionType enum
# 0.0.5
#   - Updated endpoints to call void directly, moved Action model to be VoidRequest
#   - authorizations
#     - Removed authorizationType, globalReceiptId and networkAuthId from Authorization object
#     - Replaced PATCH with POST actions for void operation
#   - captures
#     - Removed fdAuthorizationId, orderId, merchantId, storeId from Capture object.
#     - Added refund attribute to Capture object.
#   - refunds
#     - Removed fdAuthorizationId, fdCaptureId from Refund object.
#   - sales
#     - Added new apis for Sale transactions.
#   - Misc
#       - removed settlementDateTime, localTransactionDateTime from Authorization
#       - changed localTransactionDateTime to just transactionDateTime elsewhere
#       - added hostExtraInfo to Auth, Capture, Sale, & Refund models
# 0.0.4
#     - No change.
# 0.0.3
#     - No change.
# 0.0.2
#     - Added 'osVersion' attribute to 'DeviceInfo' object.
# 0.0.1
#     - Initial Version
#-------------------------------------

openapi: 3.0.1
info:
  title: uCom Payment Services
  description: Use these services to initiate AUTH/CAPTURE/SALE transactions using a payment account. This message supports transactions for enrolled and non-enrolled funding accounts including accounts enrolled with external payment systems like Apple Pay, Android Pay, Samsung Pay, and Visa Checkout.
  version: 0.2.3
servers:
- url: https://int.api.firstdata.com/ucom
tags:
- name: authorization
- name: capture
- name: refund
- name: sale
paths:
  /v1/payments/auths:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Payment Authorization Details by clientRequestId
      tags:
      - authorization
      summary: Get a specific payment authorization
      description: Fetch details of a payment authorization by clientRequestId
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization'
              examples:
                Minimal: {summary: Response with minimal required parameters, $ref: '#/components/examples/MinimalGetAuthResponse'}

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    post:
      x-group-name: Payment Services
      x-proxy-name: Create Payment Authorization
      tags:
      - authorization
      summary: Create a payment authorization
      description: Must include a funding source, authorization type and requested amount greater than 0.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
            examples:
              vaulted: {summary: Request with vaulted account with MID, $ref: '#/components/examples/VaultedAuthRequest'}
              VaultedWithStoreId: {summary: Request with vaulted account with store id, $ref: '#/components/examples/VaultedWithStoreIdAuthRequest'}
              Nonce: {summary: Request with nonce, $ref: '#/components/examples/NonceAuthRequest'}
              Apple Pay: {summary: Request with Apple pay, $ref: '#/components/examples/ApplePayAuthRequest'}
              Google Pay: {summary: Request with Google Pay, $ref: '#/components/examples/GooglePayAuthRequest'}
              PayPal: {summary: Request with Pay Pal, $ref: '#/components/examples/PayPalAuthVaultedRequest'}
              Venmo: {summary: Request with Venmo, $ref: '#/components/examples/VenmoAuthVaultedRequest'}
              TA Token: {summary: Request with TA Token, $ref: '#/components/examples/TATokenAuthRequest'}
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization'
              examples:
                Vaulted:
                  summary: Auth with vaulted Card by passing MID Response
                  $ref: '#/components/examples/VaultedAuthResponse'
                VaultedWithStoreId:
                  summary: Auth with vaulted Card by passing store id Response
                  $ref: '#/components/examples/VaultedWithStoreIdAuthResponse'
                Nonce:
                  summary: Auth with anonymous Response
                  $ref: '#/components/examples/NonceAuthResponse'
                Apple Pay:
                  summary: Auth with apple pay Response
                  $ref: '#/components/examples/ApplePayAuthResponse'
                Google Pay:
                  summary: Auth with google pay Response
                  $ref: '#/components/examples/GooglePayAuthResponse'
                PayPal:
                  summary: Auth with PayPal Response
                  $ref: '#/components/examples/GooglePayAuthResponse'
                Venmo:
                  summary: Auth with Venmo Response
                  $ref: '#/components/examples/GooglePayAuthResponse'
                TA Token:
                  summary: Auth with TA Token Response
                  $ref: '#/components/examples/TATokenAuthResponse'

        202:
          $ref: '#/components/responses/AuthorizationPartiallyCreated'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/auths/{fdAuthorizationId}:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Payment Authorization Details by authorizationId
      tags:
      - authorization
      summary: Get a specific payment authorization
      description: Fetch details of a payment authorization by authorizationId
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdAuthorizationIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization'
              examples:
                Credit:
                  summary: Authorization details by fdAuthorizationId
                  $ref: '#/components/examples/MinimalGetAuthResponseByfdAuthorizationId'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    patch:
      x-group-name: Payment Services
      x-proxy-name: Patch Payment Authorization
      tags:
      - authorization
      summary: Patch a specific payment authorization
      description: Proceed the transaction with action type
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdAuthorizationIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  $ref: '#/components/schemas/UpdateActionType'
                threeDSecureInfo:
                  $ref: '#/components/schemas/ThreeDSecure'
        required: true
      responses:
        200:
          $ref: '#/components/responses/AuthorizationOK'
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/auths/{fdAuthorizationId}/void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel Payment Authorization
      tags:
      - authorization
      summary: Execute an action on a payment authorization.
      description: Used to void the payment authorization.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdAuthorizationIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
            examples:
              Minimal: {summary: Request with Merchant Funded, $ref: '#/components/examples/MinimalAuthVoidRequest'}
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Authorization'
              examples:
                Minimal:
                  summary: Void auth by fdAuthorizationId Response
                  $ref: '#/components/examples/MinimalAuthVoidResponse'

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/auths/{fdAuthorizationId}/captures:
    post:
      x-group-name: Payment Services
      x-proxy-name: Capture Payment Authorization
      tags:
      - authorization
      summary: Execute capture on a payment authorization.
      description: Capture aka fulfill a previous authorization.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdAuthorizationIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptureRequest'
            examples:
              Vaulted: {summary: Request with Merchant Funded, $ref: '#/components/examples/VaultedAuthCaptureRequest'}
              TA Token: {summary: Request with Merchant Funded, $ref: '#/components/examples/TATokenAuthCaptureRequest'}
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capture'
              examples:
                Vaulted:
                  summary: Auth with vaulted Card Response
                  $ref: '#/components/examples/TATokenAuthCaptureResponse'
                TAToken:
                  summary: Auth with TA token Response
                  $ref: '#/components/examples/TATokenAuthCaptureResponse'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/auths/{fdAuthorizationId}/refunds:
    post:
      x-group-name: Payment Services
      x-proxy-name: Refund Payment Authorization
      tags:
      - authorization
      summary: Execute a refund on a payment authorization.
      description: Execute a refund on a payment authorization .
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdAuthorizationIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
        required: false
      responses:
        201:
          $ref: '#/components/responses/RefundCreated'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/captures:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Captured Payment Details by clientRequestId
      tags:
      - capture
      summary: Get payment capture details.
      description: Fetch captured payment details with a clientRequestId
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          $ref: '#/components/responses/CaptureCreated'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/BadRequest'

  /v1/payments/captures/{fdCaptureId}:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Payment Capture Details

      tags:
      - capture
      summary: Get payment capture details.
      description: Fetch captured payment details with a capture id.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdCaptureIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capture'
              examples:
                Minimal: {summary: Response with minimal required parameters, $ref: '#/components/examples/MinimalGetCaptureResponse'}
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/BadRequest'

  /v1/payments/captures/{fdCaptureId}/void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel Payment Capture
      tags:
      - capture
      summary: Execute an action on a payment capture
      description: Used to void the capture.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdCaptureIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
            examples:
              Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalCaptureVoidRequest'}
        required: false
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Capture'
              examples:
                Minimal: {summary: Response with minimal required parameters, $ref: '#/components/examples/MinimalCaptureVoidResponse'}
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/captures/{fdCaptureId}/refunds:
    post:
      x-group-name: Payment Services
      x-proxy-name: Refund a Capture
      tags:
      - capture
      summary: Execute a refund on a payment capture.
      description: Refund a capture .
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdCaptureIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'

            examples:
              Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalCaptureRefundRequest'}
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              examples:
                Minimal - 201:
                  summary: capture refund response
                  $ref: '#/components/examples/MinimalCaptureRefundResponse'

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/sales:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Sale Transaction 
      tags:
      - sale
      summary: Get a specific sale transaction.
      description: Fetch a Sale detail object
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
              examples:
                Minimal: {summary: Response with minimal required parameters, $ref: '#/components/examples/MinimalGetSaleResponse'}
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    post:
      x-group-name: Payment Services
      x-proxy-name: Create Payment Sale Transaction
      tags:
      - sale
      summary: Create a payment sale transaction.
      description: Must include a funding source and requested amount greater than 0.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaleRequest'
            examples:
              #Credit Card: {summary: Request with credit card, $ref: '#/components/examples/CreditCardSaleRequest'}
              Vaulted Card: {summary: Request with vaulted card, $ref: '#/components/examples/VaultedCardSaleRequest'}
              Nonce: {summary: Request with vaulted card, $ref: '#/components/examples/NonceSaleRequest'}
              Apple Pay: {summary: Request with Apple Pay, $ref: '#/components/examples/ApplePaySaleRequest'}
              Google Pay: {summary: Request with Google Pay, $ref: '#/components/examples/GooglePaySaleRequest'}
              PayPal: {summary: Request with Venmo, $ref: '#/components/examples/PayPalSaleRequest'}
              Venmo: {summary: Request with Venmo, $ref: '#/components/examples/VenmoSaleRequest'}
              TA Token: {summary: Request with TA Token, $ref: '#/components/examples/TATokenSaleRequest'}
        required: true
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
              examples:
                #Credit - 201:
                #  summary: Sale with credit Card Response
                #  $ref: '#/components/examples/CreditCardSaleResponse'
                Vaulted Card:
                  summary: Sale with Vaulted Card response
                  $ref: '#/components/examples/VaultedCardSaleResponse'
                Nonce:
                  summary: Sale with Nonce response
                  $ref: '#/components/examples/NonceSaleResponse'
                Apple Pay:
                  summary: Sale with apple pay response
                  $ref: '#/components/examples/ApplePaySaleResponse'
                Google Pay:
                  summary: Sale with google pay response
                  $ref: '#/components/examples/GooglePaySaleResponse'
                PayPal:
                  summary: Sale with PayPal response
                  $ref: '#/components/examples/PayPalSaleResponse'
                Venmo:
                  summary: Sale with venmo response
                  $ref: '#/components/examples/VenmoSaleResponse'
                TA Token:
                  summary: Sale with TA token response
                  $ref: '#/components/examples/TATokenSaleResponse'

        202:
          $ref: '#/components/responses/SalePartiallyCreated'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/sales/{fdSaleId}:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Sale Transaction Details by saleId
      tags:
      - sale
      summary: Get a specific sale transaction.
      description: Fetch a Sale detail object by saleId
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdSaleIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
              examples:
                Minimal: {summary: Response with minimal required parameters, $ref: '#/components/examples/MinimalGetSaleResponse'}
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    patch:
      x-group-name: Payment Services
      x-proxy-name: Proceed with Sale Transaction
      tags:
      - sale
      summary: Patch a specific sale transaction.
      description: Proceed sale transaction with specific action type
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdSaleIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  $ref: '#/components/schemas/UpdateActionType'
                threeDSecureInfo:
                  $ref: '#/components/schemas/ThreeDSecure'
        required: true
      responses:
        200:
          $ref: '#/components/responses/SaleOK'
        204:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/sales/{fdSaleId}/void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel/Void Sale Transaction
      tags:
      - sale
      summary: Execute an action on a specific sale transaction.
      description: Used to cancel/void a sale transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdSaleIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
            examples:
              Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalSaleVoidRequest'}
        required: true
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sale'
              examples:
                Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalSaleVoidResponse'}
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/sales/{fdSaleId}/refunds:
    post:
      x-group-name: Payment Services
      x-proxy-name: Refund a Sale Transaction
      tags:
      - sale
      summary: Execute a refund on a payment capture.
      description: Refund a 'sale' transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdSaleIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
            examples:
              Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalRefundSale'}
        required: false
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              examples:
                Minimal: {summary: Response with minimal required parameters, $ref: '#/components/examples/MinimalRefundSaleR'}

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/multi-sales:
    post:
      x-group-name: Payment Services
      x-proxy-name: Create Multiple Payment Sale Transactions
      tags:
      - sale
      summary: Create multiple payment sale transactions.
      description: Must include a funding source and requested amount greater than 0 for each payment sale
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiSaleRequest'
        required: true
      responses:
        201:
          description: Sale created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSale'
        207:
          description: Multiple status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiSale'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        425:
          $ref: '#/components/responses/TooEarly'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/multi-sales/{fdParentTransactionId}/refunds:
    post:
      x-group-name: Payment Services
      x-proxy-name: Refund a Multisale Transaction
      tags:
      - sale
      summary: Execute a refund for multisale transaction.
      description: Refund a 'multisale' transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiRefundRequest'
        required: false
      responses:
        201:
          description: Refund transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiRefund'
        207:
          description: Partial Refund transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiRefund'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/multi-sales/{fdParentTransactionId}/void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel a Multisale Transaction
      tags:
      - sale
      summary: Execute void for multisale transactions.
      description: Void a 'multisale' transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVoidRequest'
        required: true
      responses:
        200:
          description: Void transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v1/payments/refunds:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Refund Transaction Details by clientRequestId
      tags:
      - refund
      summary: Get Refund Transaction Details
      description: Fetch the refund transaction details with the clientRequestId.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          $ref: '#/components/responses/RefundOK'

        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/BadRequest'

  /v1/payments/refunds/{fdRefundId}:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Refund Transaction Details by refundId
      tags:
      - refund
      summary: Get refund transaction details
      description: Fetch the refund transaction details with the refundId.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/FdRefundIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          $ref: '#/components/responses/RefundOK'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/BadRequest'

  /v1/payments/refunds/{fdRefundId}/void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel Refund
      tags:
      - refund
      summary: Execute an action on payment refund.
      description: Used to cancel the refund.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdRefundIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
            examples:
              Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalRefundVoidRequest'}
        required: false
      responses:
        200:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
              examples:
                Minimal: {summary: Request with minimal required parameters, $ref: '#/components/examples/MinimalRefundVoidResponse'}


        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/refunds:
    post:
      x-group-name: Payment Services
      x-proxy-name: Refund Transaction
      tags:
      - refund
      summary: Execute a refund for a transactions.
      description: Refund a transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
        required: false
      responses:
        201:
          description: Refund transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/multi-refunds:
    post:
      x-group-name: Payment Services
      x-proxy-name:  Execute Multiple Refunds 
      tags:
      - refund
      summary: Execute multiple refunds
      description: Refund multitransactions.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiRefundRequest'
        required: false
      responses:
        201:
          description: Refund transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiRefund'
        207:
          description: Partial Refund transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiRefund'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        409:
          $ref: '#/components/responses/Conflict'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/multi-refunds/{fdParentTransactionId}/void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel Multirefund
      tags:
      - refund
      summary: Execute an action on multi payment refund.
      description: Used to cancel the refunds.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/FdParentTransactionIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVoidRequest'
        required: false
      responses:
        200:
          description: Refund transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/charges:
    post:
      x-group-name: Payment Services
      x-proxy-name: Get Fee Details
      tags:
      - charge
      summary: Payment charge details.
      description: Used to get the details about fee charges.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeRequest'
        required: false
      responses:
        200:
          $ref: '#/components/responses/ChargeOK'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/void:
    get:
      x-group-name: Payment Services
      x-proxy-name: Get Void Transaction Details by clientRequestId
      tags:
      - void
      summary: Execute void for sale transaction by clientRequestId
      description: void transaction details by clientRequestId
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdQueryParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      responses:
        200:
          description: Void transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel a Sale Transaction
      tags:
      - void
      summary: Execute void for sale transaction.
      description: Void a transaction.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoidRequest'
        required: true
      responses:
        200:
          description: Void transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Void'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

  /v2/payments/multi-void:
    post:
      x-group-name: Payment Services
      x-proxy-name: Cancel a Single Transaction from Multisale Transactions
      tags:
      - void
      summary: Execute void for multisale transactions.
      description: Void multisale transactions.
      parameters:
      - $ref: '#/components/parameters/ApiKeyParam'
      - $ref: '#/components/parameters/TimestampParam'
      - $ref: '#/components/parameters/AuthorizationParam'
      - $ref: '#/components/parameters/ClientTokenParam'
      - $ref: '#/components/parameters/ClientRequestIdParam'
      - $ref: '#/components/parameters/RetailerPartnerIdParam'
      - $ref: '#/components/parameters/AcceptLanguageParam'
      - $ref: '#/components/parameters/SubMerchantIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MultiVoidRequest'
        required: true
      responses:
        200:
          description: Void transaction response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiVoid'
        400:
          $ref: '#/components/responses/BadRequest'
        401:
          $ref: '#/components/responses/Unauthorized'
        404:
          $ref: '#/components/responses/NotFound'
        500:
          $ref: '#/components/responses/ServerError'

components:
  schemas:
    #-------------------------------------
    # Operational Models
    #-------------------------------------
    AuthRequest:
      title: Authorization Request
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        authorization:
          $ref: '#/components/schemas/Authorization'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    CaptureRequest:
      title: Capture Request
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        capture:
          $ref: '#/components/schemas/Capture'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    ChargeRequest:
      type: object
      properties:
        stateCode:
          type: string
          description: state code value.
        fundingSource:
          $ref: '#/components/schemas/FundingSource'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    MultiSaleRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        transactionSubtype:
          type: string
          description: Indicates subtype of a given transaction for EBT, ie EBTCASH or EBTSNAP 
        corporateMerchantInfo:
          $ref: '#/components/schemas/CorporateMerchantInfo'          
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        isPartialPaymentAllowed:
          type: boolean
          description: Flag that indicates if partial transaction is allowed or not
        isPartialSuccessAllowed:
          type: boolean
          description: Flag that indicates if partial success is allowed or not
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        totalRequestedAmount:
          $ref: '#/components/schemas/RequestedAmount'   
        splitByRankId:
          type: boolean
          description: Flag that indicates if split by rankId should be handled          
        sales:
          type: array
          items:
            $ref: '#/components/schemas/Sale'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    MultiRefundRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        isPartialSuccessAllowed:
          type: boolean
          description: Flag that indicates if partial success is allowed or not
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    MultiVoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        parentExternalId:
          type: string
          description: External transaction id reference
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        replayCount:
          type: number
          description: Indicates request retry attempt count.
        clientRequestId:
          type: string
          description: Client request id that was used in the sale/refund/void
        operationType:
          $ref: '#/components/schemas/OperationType'
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        postDate:
          type: string
          description: Settlement date for the transaction. Format- MMDDYYYY
          format: date
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        voids:
          type: array
          items:
            $ref: '#/components/schemas/Void'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    RefundRequest:
      title: Refund Request
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        refund:
          $ref: '#/components/schemas/Refund'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    SaleRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        sale:
          $ref: '#/components/schemas/Sale'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'

    VoidRequest:
      type: object
      properties:
        fdCustomerId:
          $ref: '#/components/schemas/FdCustomerId'
        membership:
          $ref: '#/components/schemas/Membership'
        externalCustomerId:
          $ref: '#/components/schemas/ExternalCustomerId'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        void:
          $ref: '#/components/schemas/Void'

    #-------------------------------------
    # Resource Models
    #-------------------------------------
    ACH:
      type: object
      properties:
        accountNumber:
          type: string
          description: Unique number identifying the ACH account provided by Financial institution.
          example: "92658250156"
        routingNumber:
          type: string
          description: Number to identify the financial institution
          example: "999999999"
        secCode:
          type: string
          description: SEC Code is optional data, It is specifically required for ACH account which is ruled by NACHA compliance.
        cardNumber:
          type: string
          description: ACH Card number, can only be sent when vaulting an account.  This field will NOT be present in responses.
          example: "9111111111111111"
        cardType:
          $ref: '#/components/schemas/AchCardType'
        securityCode:
          type: string
          description: Code to validate the ACH account, like micro deposit or security code.
          example: "278356"
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
          example: "1111"
        enrollmentStatus:
          $ref: '#/components/schemas/AchEnrollmentStatus'
        enrollmentSubStatuses:
          type: array
          items:
            $ref: '#/components/schemas/AchEnrollmentSubStatus'
        accountType:
          $ref: '#/components/schemas/AchAccountType'
        bankName:
          type: string
          description: Name of the bank associated with the ACH account
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        assetProvider:
          $ref: '#/components/schemas/AssetProvider'
      description: Information about an ACH account

    Address:
      type: object
      properties:
        type:
          type: string
          description: Canonical type values of "work", "home", "billing" and "other".
          example: work
        streetAddress:
          type: string
          description: The full street address component, which may include house number, street name, P.O. box, and multi-line extended street address information.
          example: 100 Universal City Plaza 
        locality:
          type: string
          description: The city or locality component.
          example: Hollywood
        region:
          type: string
          description: The state or region component.
          example: CA
        postalCode:
          type: string
          description: The zip code or postal code component.
          example: "91608"
        country:
          type: string
          description: The country name component.  When specified, the value MUST be in ISO 3166-1 "alpha-2" code format; e.g., the United States and Sweden are "US" and "SE", respectively.
          example: US
        formatted:
          type: string
          description: The full mailing address, formatted for display or use with a mailing label.
          example: 100 Universal City Plaza, Hollywood, CA 91608 US
        primary:
          type: boolean
          description: Indicates if this is the default address for the associated resource. It only has meaning when used in a set or array of addresses.
          example: true
      description: A physical mailing address for this user.
      
    AndroidPay:
      type: object
      properties:
        data:
          type: string
          example: 3CguW5ecfTzO...03d
        signature:
          type: string
          example: MIAGCSqGSIb......AAAA==
        decryptAlias:
          type: string
          description: field of the public key certificate.
          example: oslo.com.xxx.Prod_mer
        dPanLast4:
          type: string
          example: "9876"
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        header:
          type: object
          properties:
            ephemeralPublicKey:
              type: string
              example: MFkwEw...03d
            publicKeyHash:
              type: string
              example: +vbONw...IM=
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'

    AmazonPay:
      type: object
      properties:
        token:
          type: string
          example: 292bb6b886fc4446894f878b7e32bd5e
        chargeId:
          type: string
          example: 73883992djj39939djj929992jj08838
        chargeReferenceId:
          type: string
          example: 8jdw838dhhskk9299299299ueuuue838
        credit:
          $ref: '#/components/schemas/Credit'

    ApplePay:
      type: object
      properties:
        version:
          type: string
          example: EC_v1
        developerEmail:
          type: string
        signature:
          type: string
          example: MIAGCSqGSIb......AAAA==
        decryptAlias:
          type: string
          description: field of the public key certificate.
          example: oslo.com.xxx.Prod_mer
        data:
          type: string
          example: 3CguW5ecfTz...Yuhw=
        applicationData:
          type: string
          example: VEVTVA==
        dPanLast4:
          type: string
          example: "9876"
        bin:
          type: string
        eciIndicator:
          type: string
        xid:
          type: string
        cavv:
          type: string
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        panType:
          type: string
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        header:
          type: object
          properties:
            applicationDataHash:
              type: string
            ephemeralPublicKey:
              type: string
              example: MFkwEwYHKoZIzj0CIKoZIz.....NBQQ==
            publicKeyHash:
              type: string
              example: +vbONwRlVqJX0........
            transactionId:
              type: string
              example: 3827c5a02638.....34d50
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'

    Amount:
      title: Amount
      minimum: 0
      exclusiveMinimum: true
      type: number
      format: double
      example: 500.00

    ApprovedAmount:
      title: Approved Amount
      minimum: 0
      exclusiveMinimum: true
      type: number
      description: Amount authorized according to the request type [auth, capture, refund, etc] in lower denomination.  The value is read-only on payment requests.  For a void, the value is required.
      format: double
      example: 500.00

    Authorization:
      required:
      - requestedAmount
      type: object
      properties:
        fdAuthorizationId:
          type: string
          description: Unique Identifier provided by payment platform for a payment authorization transaction.
          readOnly: true
          example: 8a34144657d0aa6e0157d3808ed000f2
        authStatus:
          $ref: '#/components/schemas/PaymentStatus'
        transactionSubtype:
          type: string
          description: Indicates subtype of a given transaction for EBT, ie EBTCASH or EBTSNAP
        merchantId:
          type: string
          description: Merchant identifier where the transaction is being performed.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier where the transaction is being performed.
          example: "23232"
        merchantTokenCode:
          type: string
          description: Merchant token code used for token generation
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        storeId:
          type: string
          description: Store identifier where the transaction is being performed.
          example: "123456"
        outdoorSale:
          type: boolean
          description: Flag to indicate if the transaction is made outside the store.
          example: true
          default: false
        exemptionCode:
          type: string
          description: Exemption code for 3DS transaction
        transactionOrigin:
          $ref: '#/components/schemas/TransactionOrigin'
        requestedAmount:
          $ref: '#/components/schemas/RequestedAmount'
        approvedAmount:
          $ref: '#/components/schemas/ApprovedAmount'
        currencyCode:
          $ref: '#/components/schemas/ISO-4217'
        dynamicDescriptors:
          $ref: '#/components/schemas/DynamicDescriptors'
        partialPaymentAllowed:
          type: boolean
          description: Flag that indicates if partial transaction is allowed or not
        fundingSource:
          $ref: '#/components/schemas/FundingSource'
        purchaseInfo:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/PurchaseInfo'
        amountSplitInfo:
          $ref: '#/components/schemas/AmountSplitInfo'
        isSplitSettlement:
          type: boolean
        splitSettlementInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/SplitSettlementInfo'
        supplements:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Supplement'
        industrySpecificInfo:
          type: object
          properties:
            fuelPurchaseInfo:
              $ref: '#/components/schemas/FuelPurchaseInfo'
          description: Industry specific details like petro for example.
        qrCodeId:
          type: string
          description: Unique Identifier provided by payment platform for a given funding source.
        stacId:
          type: string
          description: Unique Identifier provided by payment platform for a given funding source.
        transactionDateTime:
          type: string
          description: Date and time of the transaction.
          format: date-time
          readOnly: true
          example: 2016-04-16T16:06:05Z
        createdDateTime:
          type: string
          description: Date and time of resource creation.
          format: date-time
          readOnly: true
          example: 2016-04-16T16:06:05Z
        lastUpdatedDateTime:
          type: string
          description: Last updated Date and time of resource.
          format: date-time
          readOnly: true
          example: 2016-04-16T16:06:05Z
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        threeDSecureInfo:
          $ref: '#/components/schemas/ThreeDSecure'
        fleetData:
          $ref: '#/components/schemas/FleetData'
        _links:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Link'
        captures:
          type: array
          description: Array of captures associated with the payment authorization.
          readOnly: true
          items:
            $ref: '#/components/schemas/Capture'
        errorInfo:
          $ref: '#/components/schemas/Error'
      description: Authorization information - can only be ONE of the funding source among account, credit, prepaid, ApplePay.

    AmountSplitInfo:
      type: object
      properties:
        orderAmount:
          minimum: 0
          exclusiveMinimum: true
          type: number
          format: double
        deliveryServiceFee:
          minimum: 0
          exclusiveMinimum: true
          type: number
          format: double
        driverTip:
          minimum: 0
          exclusiveMinimum: true
          type: number
          format: double
        taxAmount:
          minimum: 0
          exclusiveMinimum: true
          type: number
          format: double
        vatAmount:
          minimum: 0
          exclusiveMinimum: true
          type: number
          format: double
        corporateFee:
          minimum: 0
          exclusiveMinimum: true
          type: number
          format: double
      description: Amount split up based on service selected at the time of transaction

    AssetProvider:
      type: object
      properties:
        providerName:
          type: string
          example: coinbase

    Bancontact:
      type: object
      properties:
        returnUrl:
          type: string
        deepLink:
          type: string
        alias:
          type: string
          example: "9876"
        cardType:
          $ref: '#/components/schemas/CreditCardType'

    Capture:
      type: object
      properties:
        fdCaptureId:
          type: string
          description: Unique identifier provided for a payment capture.
          readOnly: true
          example: cap4144657d0aa6e0157d3808ed000f2
        status:
          $ref: '#/components/schemas/PaymentStatus'
        requestedAmount:
          $ref: '#/components/schemas/RequestedAmount'
        approvedAmount:
          $ref: '#/components/schemas/ApprovedAmount'
        currencyCode:
          $ref: '#/components/schemas/ISO-4217'
        dynamicDescriptors:
          $ref: '#/components/schemas/DynamicDescriptors'
        transactionSubtype:
          type: string
          description: Indicates subtype of a given transaction for EBT, ie EBTCASH or EBTSNAP
        captureCount:
          type: integer
          description: Specifies the current capture count among the required ones. Required only for multi capture transactions.
          format: int32
          example: 1
        captureTotalCount:
          type: integer
          description: Specifies the total captures that are intended to be processed in the authorization. Required only for multi capture transactions.
          format: int32
          example: 2
        amountSplitInfo:
          $ref: '#/components/schemas/AmountSplitInfo'
        splitSettlementInfo:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/SplitSettlementInfo'
        supplements:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/Supplement'
        purchaseInfo:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/PurchaseInfo'
        industrySpecificInfo:
          type: object
          properties:
            fuelPurchaseInfo:
              $ref: '#/components/schemas/FuelPurchaseInfo'
          description: Industry specific details like petro for example.
        transactionDateTime:
          type: string
          description: Date and time of the transaction.
          format: date-time
          readOnly: true
          example: 2016-04-16T16:06:05Z
        createdDateTime:
          type: string
          description: Date and time of resource creation.
          format: date-time
          readOnly: true
          example: 2016-04-16T16:06:05Z
        lastUpdatedDateTime:
          type: string
          description: Last updated Date and time of resource.
          format: date-time
          readOnly: true
          example: 2016-04-16T16:06:05Z
        hostExtraInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        refunds:
          type: array
          description: Array of refunds associated with the payment capture.
          readOnly: true
          items:
            $ref: '#/components/schemas/Refund'
      description: Information related to make a capture on a previous authorization. When requested amount not provided the full authorized amount will be applied for capture.

    Credit:
      type: object
      properties:
        cardNumber:
          type: string
          description: Primary account number, can only be sent when vaulting an account.  This field will NOT be present in responses.
          example: "4111111111111111"
        bin:
          type: string
        nameOnCard:
          type: string
          description: Name as printed on physical card or on virtual account
          example: John Smith
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
          example: "1111"
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        cardSubType:
          type: string
          description: Merchant or brand specific information about the type of account
          example: ABCD
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        securityCode:
          type: string
          example: "444"
        sequenceNumber:
          type: string
          description: Applicable only for private-label accounts
          example: "01"
        token:
          $ref: '#/components/schemas/ReferenceToken'
        tokens:
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/ReferenceToken'
      description: Information on a credit account

    Charge:
      type: object
      properties:
        verbiage:
          type: string
        returnCheckFee:
          type: string
        returnCheckNote:
          type: string
      description: Transaction charge details

    CommunicationPreference:
      type: object
      properties:
        email:
          type: boolean
        phone:
          type: boolean
        sms:
          type: boolean

    CorporateMerchantInfo:
      type: object
      properties:
        merchantId:
          type: string
        altMerchantId:
          type: string
        merchantTerminalId:
          type: string

    DeliveryLocation:
      type: object
      description: Order delivery location
      properties:
        contactName:
          type: string
        contactPhone:
          $ref: '#/components/schemas/Phone'
        contactEmail:
          $ref: '#/components/schemas/Email'
        address:
          $ref: '#/components/schemas/Address'
        note:
          type: string

    DeliveryInfo:
      type: object
      description: Delivery information
      properties:
        deliveryQuoteId:
          type: string
        deliveryOption:
          $ref: '#/components/schemas/DeliveryOption'
        deliveryType:
          type: string
          example: "CONTACTLESS"
        deliveryWindow:
          $ref: '#/components/schemas/DeliveryWindow'


    DeliveryWindow:
      description: This object contains delivery window time.
      type: object
      properties:
        pickupStartDate:
          type: string
          format: date-time
          example: "2016-04-16T16:06:05Z"
        pickupEndDate:
          type: string
          format: date-time
          example: "2016-04-16T16:06:05Z"
        dropOffStartDate:
          type: string
          format: date-time
          example: "2016-04-16T16:06:05Z"
        dropOffEndDate:
          type: string
          format: date-time
          example: "2016-04-16T16:06:05Z"

    DynamicDescriptors:
      type: object
      properties:
        merchantCategoryCode:
          type: string
          description: Merchant category code
        merchantName:
          type: string
          description: Merchant name
        merchantEmail:
          $ref: '#/components/schemas/Email'
        customerServiceNumber:
          $ref: '#/components/schemas/Phone'
        serviceEntitlementNumber:
          type: string
          description: Service entitlement number
        merchantAddress:
          $ref: '#/components/schemas/Address'

    EBT:
      type: object
      properties:
        cardNumber:
          type: string
          description: Primary account number, can only be sent when vaulting an account.  This field will NOT be present in responses.
        nameOnCard:
          type: string
          description: Name as printed on physical card or on virtual account
        alias:
          type: string
          description: Last four values of the cardNumber
          readOnly: true
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        bin:
          type: string
          description: BIN of EBT card
          readOnly: true
        pin:
          type: string
          description: PIN for EBT card
        pinCaptureId:
          type: string
          description: Session id used on client side SDK to capture the card pin
        transactionId:
          type: string
          description: The unique transaction ID
        balance:
          $ref: '#/components/schemas/EBTBalance'
        metadata:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
        token:
          $ref: '#/components/schemas/ReferenceToken'
      description: Electronic Benefits Transfer card information

    EBTBalance:
      type: object
      properties:
        cashBalance:
          type: number
        cashCurrencyCode:
          $ref: '#/components/schemas/ISO-4217'
        snapBalance:
          type: number
        snapCurrencyCode:
          $ref: '#/components/schemas/ISO-4217'

    Email:
      type: object
      properties:
        type:
          type: string
          description: The "type" sub-attribute is used to provide a classification meaningful to the (human) user.  The user interface should encourage the use of basic values of "work", "home", and "other" and MAY allow additional type values to be used at the discretion of the service client.
          example: work
        value:
          type: string
          description: The value SHOULD be specified according to RFC5321.
          example: bjensen@example.com
        primary:
          type: boolean
          description: Defines if this entry is to be used as the primary or default for the user.
          default: false
      description: Email address for the user.

    ExpiryDate:
      type: object
      properties:
        month:
          maxLength: 2
          minLength: 2
          pattern: '[0-9]{2,2}'
          type: string
          description: Month format 'MM'
          example: "09"
        year:
          maxLength: 2
          minLength: 2
          pattern: '[0-9]{2,2}'
          type: string
          description: Year format 'YY'
          example: "20"
        singleValue:
          maxLength: 6
          minLength: 4
          type: string
          description: Month and year together, 'MMYY' or 'MMYYYY'.  If the latter format, the string will be parsed and validated per the given format.  Any other format will be rejected.
      description: Contains account expiration data and needs to either send the values in individual fields OR as a singleValue.

    ExternalCustomerId:
      title: External Customer ID
      type: string
      description: External customer id.

    FdCustomerId:
      title: FD Customer ID
      type: string
      description: FD customer identifier tied to the vaulted accounts.
      example: cuid-0987613457398475

    Fleet:
      type: object
      properties:
        cardNumber:
          type: string
          description: Primary account number, can only be sent when vaulting an account.  This field will NOT be present in responses.
        nameOnCard:
          type: string
          description: Name as printed on physical card or on virtual account
        alias:
          type: string
          description: Card alias
          readOnly: true
        cardType:
          $ref: '#/components/schemas/FleetCardType'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        securityCode:
          type: string
        sequenceNumber:
          type: string
          description: Sequence number of the card.
        token:
          $ref: '#/components/schemas/ReferenceToken'
      description: Information on a Fleet account

    FleetData:
      type: object
      properties:
        odometer:
          maxLength: 8
          type: string
          description: Identifies the vehicle’s odometer reading keyed in by the customer or clerk.
        vehicleNumber:
          maxLength: 10
          type: string
          description: Identifies the Vehicle Number.
        jobNumber:
          maxLength: 10
          type: string
          description: Identifies the Job Number.
        driverIdNumber:
          maxLength: 10
          type: string
          description: Identifies the unencrypted Driver Number or Identification Number.
        fleetEmployeeNumber:
          maxLength: 10
          type: string
          description: Identifies the Fleet Employee Number.
        licenseNumber:
          maxLength: 10
          type: string
          description: Identifies the License
        jobId:
          maxLength: 12
          type: string
          description: Identifies the Job ID.
        departmentNumber:
          maxLength: 12
          type: string
          description: Identifies the Department
        customerData:
          maxLength: 12
          type: string
          description: Identifies the Customer Data.
        userId:
          maxLength: 12
          type: string
          description: Identifies the User ID.
        vehicleId:
          maxLength: 8
          type: string
          description: Identifies the Vehicle ID#.
        fleetTag:
          type: array
          items:
            $ref: '#/components/schemas/FleetTagType'
      description: The Fleet Data Segment for all fleet card transaction requests.

    FuelPurchaseInfo:
      required:
      - pumpNumber
      type: object
      properties:
        pumpNumber:
          type: number
          description: Pump number from which fueling is requested.
        serviceLevelCode:
          $ref: '#/components/schemas/ServiceLevelCode'
        items:
          type: array
          items:
            $ref: '#/components/schemas/POSItem'
      description: Fuel purchase information.
      example:
        pumpNumber: "17"
        serviceLevelCode: S
        items:
        - POSCode: "432"
          itemDescription: Unleaded
          itemPrice: "2.03"
          unitOfMeasurement: gallonUS

    FundingSource:
      type: object
      properties:
        saveToVault:
          type: boolean
          description: Flag to indicate if the provided payment method should be vaulted to a secure repository for future use for the given customer.
          example: false
          default: false
        type:
          $ref: '#/components/schemas/FundingSourceType'
        vaultedAccount:
          $ref: '#/components/schemas/VaultedAccount'
        credit:
          $ref: '#/components/schemas/Credit'
        prepaid:
          $ref: '#/components/schemas/Prepaid'
        fleet:
          $ref: '#/components/schemas/Fleet'
        applePay:
          $ref: '#/components/schemas/ApplePay'
        androidPay:
          $ref: '#/components/schemas/AndroidPay'
        samsungPay:
          $ref: '#/components/schemas/SamsungPay'
        paypal:
          $ref: '#/components/schemas/Paypal'
        token:
          $ref: '#/components/schemas/ReferenceToken'
        visaCheckout:
          $ref: '#/components/schemas/VisaCheckout'
        googlePay:
          $ref: '#/components/schemas/GooglePay'
        masterpass:
          $ref: '#/components/schemas/MasterPass'
        ach:
          $ref: '#/components/schemas/ACH'
        venmo:
          $ref: '#/components/schemas/Venmo'
        vipps:
          $ref: '#/components/schemas/Vipps'
        amazonPay:
          $ref: '#/components/schemas/AmazonPay'
        ideal:
          $ref: '#/components/schemas/Ideal'
        bancontact:
          $ref: '#/components/schemas/Bancontact'
        walmartPay:
          $ref: '#/components/schemas/WalmartPay'
        ebt:
          $ref: '#/components/schemas/EBT'
      description: Holds information about funding source for the payment transaction. Can hold only one above the provided funding sources.

    GooglePay:
      type: object
      properties:
        version:
          type: string
          description: Identifies encryption/signing scheme.
          example: EC_v1
        developerEmail:
          type: string
        signature:
          type: string
          description: Signature to verify Google initiated message.
          example: MIAGCSqGSIb......AAAA==
        data:
          type: string
          description: Data includes encryptedMessage, ephemeralPublicKey, tag.
          example: '{"encryptedMessage":"8nx...u003d","ephemeralPublicKey":"BGH...u003d","tag":"nvm...\u003d"}'
        dPanLast4:
          type: string
          example: "9876"
        bin:
          type: string
        eciIndicator:
          type: string
        xid:
          type: string
        cavv:
          type: string
        expiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        panType:
          type: string
        cardType:
          $ref: '#/components/schemas/CreditCardType'
        token:
          $ref: '#/components/schemas/ReferenceToken'
        billingAddress:
          $ref: '#/components/schemas/Address'
        billingPhone:
          $ref: '#/components/schemas/Phone'
      description: Google Payment specific information

    Ideal:
      type: object
      properties:
        returnUrl:
          type: string
        deepLink:
          type: string

    ISO-4217:
      type: object
      properties:
        code:
          type: string
          example: USD
          default: USD
        number:
          type: integer
          example: 840
        digits:
          type: integer
          example: 2
        currency:
          type: string
          example: US Dollar
          default: US Dollar
      description: Holds currency information

    MasterPass:
      type: object
      properties:
        transactionId:
          type: string
          description: Identifier corresponding to an account enrolled with MasterPass system.
          example: "1234732704291071701"
        credit:
          $ref: '#/components/schemas/Credit'
      description: MasterPass information

    Membership:
      type: object
      properties:
        membershipType:
          type: string
        membershipId:
          type: string
        membershipProgramId:
          type: string
        membershipStatus:
          type: string
        membershipExpiryDate:
          $ref: '#/components/schemas/ExpiryDate'
        accountNumber:
          type: string
        securityCode:
          type: string
        merchantId:
          type: string
          description: Merchant identifier for which the request has been initiated.
          example: M117008616001
        altMerchantId:
          type: string
          description: Alternate Merchant identifier for which the request has been initiated.
        merchantTerminalId:
          type: string
          description: Merchant terminal identifier
        verifyAccount:
          type: boolean
        additionalInfo:
          minItems: 0
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/NVP'
      description: Membership information for the user.

    MultiSale:
      type: object
      properties:
        parentTransactionId:
          type: string
          description: Unique identifier of multi transaction.
          readOnly: true
          example: 485-27834-285903824-095
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        createdTime:
          type: string
          description: Multisale creation date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
        parentExternalId:
          type: string
          description: External transaction id reference
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        sales:
          type: array
          items:
            $ref: '#/components/schemas/Sale'
      description: Multiple sale transaction details.

    MultiRefund:
      type: object
      properties:
        parentTransactionId:
          type: string
          description: Unique identifier of multi transaction.
          readOnly: true
          example: 485-27834-285903824-095
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        createdTime:
          type: string
          description: Multi refund creation date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
        parentExternalId:
          type: string
          description: External transaction id reference
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
      description: Multiple refund transaction details.

    MultiVoid:
      type: object
      properties:
        parentTransactionId:
          type: string
          description: Unique identifier of multi transaction.
          readOnly: true
          example: 485-27834-285903824-095
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        createdTime:
          type: string
          description: Multi void creation date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
        parentExternalId:
          type: string
          description: External transaction id reference
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        voids:
          type: array
          items:
            $ref: '#/components/schemas/Void'
      description: Multiple void transaction details.

    MultiRefundVoid:
      type: object
      properties:
        parentTransactionId:
          type: string
          description: Unique identifier of multi transaction.
          readOnly: true
          example: 485-27834-285903824-095
        merchantTransactionId:
          type: string
          description: Merchant transaction id
        createdTime:
          type: string
          description: Multi void creation date time value.
          format: date-time
          readOnly: true
          example: 2017-03-21T08:15:30-05:00
        parentExternalId:
          type: string
          description: External transaction id reference
        purchaseInfo:
          $ref: '#/components/schemas/PurchaseInfo'
        refunds:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
      description: Multiple void transaction details.

    NVP:
      title: Name and Value pair.
      type: object
      properties:
        name:
          type: string
        value:
          type: string
        valueAsList:
          minItems: 0
          type: array
          items:
            type: string

    Order:
      required:
      - orderId
      type: object
      properties:
        orderId:
          type: string
          description: Client provided unique identifier for the order related to the requested authorization
          example: Order001
        altOrderId:
          type: string
          description: Alternate order id
        orderNumber:
          type: string
          description: Order reference number provided by service provider
        orderType:
          type: string
          description: Type of the order
        shipmentIndicator:
          type: string
          description: Indicates order with Single or Multiple shipments
        recipientName:
          type: string
          description: Order recipient name
        contactName:
          type: string
        shipmentType:
          type: string
          description: Type of shipment
        website:
          type: string
          description: URL of the website from where the order got originated.
        orderStatus:
          type: string
          description: Order status information
        deliveryInfo:
          $ref: '#/components/schemas/DeliveryInfo'
        emails:
          type: array
          items:
            $ref: '#/components/schemas/Email'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        phoneNumbers:
          type: array
          items:
            $ref: '#/components/schemas/Phone'
        communicationPreference:
          $ref: '#/components/schemas/CommunicationPreference'
        deliveryLocation:
          $ref: '#/components/schemas/DeliveryLocation'
        storeLocation:
          $ref: '#/components/schemas/StoreLocation'
        note:
          type: string
      description: Information about the order details

    OfferStatus:
      type: object
[...]
